::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}
::ng-deep .mat-form-field-infix {
  padding: 0px;
}
::ng-deep.mat-dialog-container {
  padding-top: 1px !important;
}
#FilterPopUp {
  padding-top: 1px !important;
  padding-bottom: 0px !important;
}
::ng-deep.mat-dialog-title {
  margin-bottom: 10px !important;
}
::ng-deep.mat-dialog-actions {
  padding: 0px !important;
}
::ng-deep.mat-dialog-content {
  padding: 12px 12px 12px 12px;
}
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
}
::ng-deep.mat-dialog-title {
  /* margin: 0px; */
  font-size: 32px;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: black !important;
}
::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: gray;
}
::ng-deep.mat-datepicker-toggle {
  color: black !important;
}
::ng-deep.mat-calendar-body-selected {
  background-color: var(--raiders-gray);
}
.mat-seudo-checkbox::after {
  color: white !important;
}
input {
  caret-color: black;
  font-family: "DIN-Regular";
}
.save {
  /* background-color: var(--medium-blue); */
  margin-top: 10px;
  margin-right: 5px;
  background-color: #3e4345;
  font-family: "DIN-Regular";
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-top: 3px;
  float: right;
  width: 41%;
  min-width: 75px;
  margin-left: 6%;
  border: none;
  border-radius: 5px;
}
.save:hover {
  background-color: var(--raiders-gray) !important;
  cursor: pointer !important;
}
.clickedWhite::after {
  color: white !important;
}
::ng-deeep .mat-input-element {
  caret-color: white !important;
}
.exit:hover {
  cursor: pointer;
}
.exit {
  color: black;
  display: flex;
  height: 50px;
  width: 5%;
  justify-content: center;

  padding-top: 9px;
}
.ovr-container2 {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}
.tier1-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 125px)); */
  grid-template-columns: repeat(7, 1fr);
  column-gap: 5px;
  align-items: center;
  float: left;
  width: 95%;
}
.bottom-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  /* align-items: center; */
}
.top {
  height: 42px;
  width: 100%;
  background-color: white;
  align-content: center;
  border-bottom: 2px solid var(--raiders-gray);
}
.tier1Tab {
  height: 38px;
  width: auto;
  display: table;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 20px;

  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  /* box-shadow: -2px -2px 2px black; */
  font-family: "DIN-Regular";
  border-bottom: 4px solid white;
}
.tier1Tab:hover {
  /* background-color: #f2f2f2 !important; */
  border-bottom: 4px solid lightskyblue !important;
  cursor: pointer;
}
.tableCenter {
  display: table-cell;
  vertical-align: middle;
}
.leftside {
  max-width: fit-content;
  min-width: 100px;
  float: left;
  width: auto;
  min-height: 100px;
  border-right: 3px solid lightgray;
}
.rightside {
  max-width: 20%;
  min-width: 20%;
  color: black;
  float: right;
  border-left: 3px solid lightgray;
  position: relative;
  padding-bottom: 35px;
}
.bottomQueryButtons {
  position: absolute;
  bottom: 0;
  color: black;
  width: 100%;
}

.singlePanel,
.tier2Tab {
  min-width: 85px;
  width: auto;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  border-left: 4px solid white;
  font-family: "DIN-Regular";
  position: relative;
  height: 30px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "DIN-Regular";
}
.singlePanelOn {
  min-width: 85px;
  width: auto;
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  border-left: 4px solid lightblue;
  font-family: "DIN-Regular";
  position: relative;
  height: 30px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "DIN-Regular";
}
.tier2-arrowName-container {
  height: 20px;
  /* display: grid; */
  /* grid-template-columns: 1fr 20%; */
  align-items: center;
  display: flex;
}
.singlePanel:hover,
.tier2Tab:hover {
  /* background-color: #f2f2f2 !important; */
  cursor: pointer !important;
  border-left: 4px solid lightblue !important;
}
.tier2-name {
  overflow: hidden;
  text-overflow: ellipsis !important;
  width: max-content;
  font-family: "DIN-Regular";
  padding-left: 5px;
}
.tier2-name:hover {
  cursor: pointer;
}
.tier2-container {
  border-right: 1px solid lightgray;
}
.l2Title {
  color: black;
  font-family: "DIN-Regular";
  width: 99%;
  border-bottom: 2px solid lightskyblue;
  margin-top: 5px;
  font-size: 18px;
}
.tier3 {
  padding-left: 15px;
  /* background-color: aqua; */
}
.selectKey {
  margin-left: 4px;
  margin-right: 4px;
  color: gray;
}
.filterSearch {
  background: transparent;
  font-size: 18px;
}
.filterSearch:hover {
  cursor: pointer;
}
.filterSearch:focus {
  border: none;
  outline: none;
}
.filterSearch::placeholder {
  color: white;
  font-size: 18px;
  font-family: "DIN-Regular";
}
.searching {
  position: relative;
  background: #3e4345;
  margin-bottom: 8px;
  border-radius: 5px;
  height: 34px;
}
.searching input {
  height: 34px;
  margin: 0;
  padding: 0;
  width: 83%;
  margin-left: 2%;
  border: none;
  caret-color: white;
  color: white;
}
.suggestionList {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  text-align: center;
}
.suggestionsList li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
}
.gSearchBlock {
  color: black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: var(--raiders-gray);
  list-style-type: none;
  position: relative;
  display: flex;
  width: 100%;
  height: 25px;
  margin-left: 10%;
  line-height: 25px;
  align-content: center;
  text-align: right;
}
.gSearchBlock:hover {
  background-color: var(--lighter-blue);
  color: var(--color-white);
}
.sicon {
  width: 10%;
}
.numOp {
  text-align: center;
}
.enternumb {
  width: 45%;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  column-gap: 3px;
  align-items: center;
  align-content: center;
}
.switch-toggle a,
.switch-light span span {
  display: none;
}

/* We can't test for a specific feature,
 * so we only target browsers with support for media queries.
 */
@media only screen {
  /* Checkbox
 */
  .switch-light {
    position: relative;
    display: block;
    /* simulate default browser focus outlines on the switch,
   * when the inputs are focused.
   */
  }
  .switch-light::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-light *,
  .switch-light *:before,
  .switch-light *:after {
    box-sizing: border-box;
  }
  .switch-light a {
    display: block;
    transition: all 0.2s ease-out;
  }
  .switch-light label,
  .switch-light > span {
    /* breathing room for bootstrap/foundation classes.
     */
    line-height: 2em;
  }
  .switch-light input:focus ~ span a,
  .switch-light input:focus + label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
    /* Chrome/Opera gets its native focus styles.
     */
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 0) {
  .switch-light input:focus ~ span a,
  .switch-light input:focus + label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

@media only screen {
  /* don't hide the input from screen-readers and keyboard access
 */
  .switch-light input {
    position: absolute;
    opacity: 0;
    z-index: 3;
  }
  .switch-light input:checked ~ span a {
    right: 0%;
  }
  /* inherit from label
 */
  .switch-light strong {
    font-weight: inherit;
  }
  .switch-light > span {
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 2em;
    /* overwrite 3rd party classes padding
   * eg. bootstrap .alert
   */
    padding: 0;
    text-align: left;
  }
  .switch-light span span {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    user-select: none;
  }
  .switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 1;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
  }
  /* bootstrap 4 tweaks
*/
  .switch-light.row {
    display: flex;
  }
  .switch-light .alert-light {
    color: #333;
  }
  /* Radio Switch
 */
  .switch-toggle {
    position: relative;
    display: block;
    /* simulate default browser focus outlines on the switch,
   * when the inputs are focused.
   */
    /* For callout panels in foundation
  */
    padding: 0 !important;
    /* 2 items
   */
    /* 3 items
   */
    /* 4 items
   */
    /* 5 items
   */
    /* 6 items
   */
  }
  .switch-toggle::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-toggle *,
  .switch-toggle *:before,
  .switch-toggle *:after {
    box-sizing: border-box;
  }
  .switch-toggle a {
    display: block;
    transition: all 0.2s ease-out;
  }
  .switch-toggle label,
  .switch-toggle > span {
    /* breathing room for bootstrap/foundation classes.
     */
    line-height: 2em;
  }
  .switch-toggle input:focus ~ span a,
  .switch-toggle input:focus + label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
    /* Chrome/Opera gets its native focus styles.
     */
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 0) {
  .switch-toggle input:focus ~ span a,
  .switch-toggle input:focus + label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

@media only screen {
  .switch-toggle input {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  .switch-toggle input + label {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    padding: 0 0.5em;
    margin: 0;
    text-align: center;
  }
  .switch-toggle a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(4),
  .switch-toggle label:nth-child(2):nth-last-child(4) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
    width: 50%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(4)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 50%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(6),
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
    width: 33.33%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(6)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 33.33%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(6)
    ~ input:checked:nth-child(5)
    + label
    ~ a {
    left: 66.66%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(8),
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
    width: 25%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(8)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 25%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(8)
    ~ input:checked:nth-child(5)
    + label
    ~ a {
    left: 50%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(8)
    ~ input:checked:nth-child(7)
    + label
    ~ a {
    left: 75%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(10),
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
    width: 20%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(10)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 20%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(10)
    ~ input:checked:nth-child(5)
    + label
    ~ a {
    left: 40%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(10)
    ~ input:checked:nth-child(7)
    + label
    ~ a {
    left: 60%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(10)
    ~ input:checked:nth-child(9)
    + label
    ~ a {
    left: 80%;
  }
  .switch-toggle label:nth-child(2):nth-last-child(12),
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ label,
  .switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
    width: 16.6%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(3)
    + label
    ~ a {
    left: 16.6%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(5)
    + label
    ~ a {
    left: 33.2%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(7)
    + label
    ~ a {
    left: 49.8%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(9)
    + label
    ~ a {
    left: 66.4%;
  }
  .switch-toggle
    label:nth-child(2):nth-last-child(12)
    ~ input:checked:nth-child(11)
    + label
    ~ a {
    left: 83%;
  }
  .switch-toggle.switch-candy,
  .switch-light.switch-candy > span {
    /* background-color: #2d3035; */
    background-color: var(--darker-gray);
    border-radius: 3px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3),
      0 1px 0 rgba(255, 255, 255, 0.2);
  }
  .switch-light.switch-candy span span,
  .switch-light.switch-candy input:checked ~ span span:first-child,
  .switch-toggle.switch-candy label {
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #191b1e;
  }
  #NFCButton2,
  /* #NFCButton400,
  #AFCButton300, */
  #AFCButton2 {
    color: #fff !important;
    font-weight: bold !important;
    text-align: center !important;
    text-shadow: 1px 1px 1px #191b1e !important;
    font-family: "DIN-Regular";
  }
  .switch-light.switch-candy input ~ span span:first-child,
  .switch-light.switch-candy input:checked ~ span span:nth-child(2),
  .switch-candy input:checked + label {
    /* color: #333; 
    This is for text label color when checked*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  .switch-candy a {
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
      inset 0 1px 1px rgba(255, 255, 255, 0.45);
    background-color: var(--raiders-gray);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);
  }
  #switchConferenceDEF,
  #switchConference2,
  #switchConferenceOFF {
    background-color: red;
  }
  .switch-candy-blue a {
    background-color: #38a3d4;
  }
  .switch-candy-yellow a {
    background-color: #f5e560;
  }
  /* iOS Theme
*/
  .switch-ios.switch-light span span {
    color: #888b92;
  }
  .switch-ios.switch-light a {
    left: 0;
    top: 0;
    width: 2em;
    height: 2em;
    background-color: #fff;
    border-radius: 100%;
    border: 0.25em solid #d8d9db;
    transition: all 0.2s ease-out;
  }
  .switch-ios.switch-light > span {
    display: block;
    width: 100%;
    height: 2em;
    background-color: #d8d9db;
    border-radius: 1.75em;
    transition: all 0.4s ease-out;
  }
  .switch-ios.switch-light > span span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    line-height: 1.875em;
    vertical-align: middle;
    transition: all 0.2s ease-out;
  }
  .switch-ios.switch-light > span span:first-of-type {
    opacity: 1;
    padding-left: 1.875em;
  }
  .switch-ios.switch-light > span span:last-of-type {
    padding-right: 1.875em;
  }
  .switch-ios.switch-light input:checked ~ span a {
    left: 100%;
    border-color: #4bd865;
    margin-left: -2em;
  }
  .switch-ios.switch-light input:checked ~ span {
    border-color: #4bd865;
    box-shadow: inset 0 0 0 30px #4bd865;
  }
  .switch-ios.switch-light input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .switch-ios.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  }
  .switch-ios.switch-toggle {
    background-color: #d8d9db;
    border-radius: 30px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
  }
  .switch-ios.switch-toggle a {
    background-color: #4bd865;
    border: 0.125em solid #d8d9db;
    border-radius: 1.75em;
    transition: all 0.12s ease-out;
  }
  .switch-ios.switch-toggle label {
    height: 2.4em;
    color: #888b92;
    line-height: 2.4em;
    vertical-align: middle;
  }
  .switch-ios input:checked + label {
    color: #3e4043;
  }
  /* Holo Theme
 */
  .switch-toggle.switch-holo,
  .switch-light.switch-holo > span {
    background-color: #464747;
    border-radius: 1px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
    color: #fff;
    text-transform: uppercase;
  }
  .switch-holo label {
    color: #fff;
  }
  .switch-holo > span span {
    opacity: 0;
    transition: all 0.1s;
  }
  .switch-holo > span span:first-of-type {
    opacity: 1;
  }
  .switch-holo > span span,
  .switch-holo label {
    font-size: 85%;
    line-height: 2.15625em;
  }
  .switch-holo a {
    background-color: #666;
    border-radius: 1px;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 0,
      inset rgba(0, 0, 0, 0.3) 0 -1px 0;
  }
  /* Selected ON switch-light
*/
  .switch-holo.switch-light input:checked ~ span a {
    background-color: #0e88b1;
  }
  .switch-holo.switch-light input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .switch-holo.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
  }
  /* Material Theme
 */
  /* switch-light
 */
  .switch-light.switch-material a {
    top: -0.1875em;
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    background: #fafafa;
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.14),
      0 0.1875em 0.125em -0.125em rgba(0, 0, 0, 0.2),
      0 0.125em 0.25em 0 rgba(0, 0, 0, 0.12);
    transition: right 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .switch-material.switch-light {
    overflow: visible;
  }
  .switch-material.switch-light::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-material.switch-light > span {
    overflow: visible;
    position: relative;
    top: 0.1875em;
    width: 3.25em;
    height: 1.5em;
    min-height: auto;
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.26);
  }
  .switch-material.switch-light span span {
    position: absolute;
    clip: rect(0 0 0 0);
  }
  .switch-material.switch-light input:checked ~ span a {
    right: 0;
    background: #3f51b5;
    box-shadow: 0 0.1875em 0.25em 0 rgba(0, 0, 0, 0.14),
      0 0.1875em 0.1875em -0.125em rgba(0, 0, 0, 0.2),
      0 0.0625em 0.375em 0 rgba(0, 0, 0, 0.12);
  }
  .switch-material.switch-light input:checked ~ span {
    background: rgba(63, 81, 181, 0.5);
  }
  /* switch-toggle
 */
  .switch-toggle.switch-material {
    overflow: visible;
  }
  .switch-toggle.switch-material::after {
    clear: both;
    content: "";
    display: table;
  }
  .switch-toggle.switch-material a {
    top: 48%;
    width: 0.375em !important;
    height: 0.375em;
    margin-left: 0.25em;
    background: #3f51b5;
    border-radius: 100%;
    transform: translateY(-50%);
    transition: transform 0.4s ease-in;
  }
  .switch-toggle.switch-material label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1em;
  }
  .switch-toggle.switch-material label:before {
    content: "";
    position: absolute;
    top: 48%;
    left: 0;
    display: block;
    width: 0.875em;
    height: 0.875em;
    border-radius: 100%;
    border: 0.125em solid rgba(0, 0, 0, 0.54);
    transform: translateY(-50%);
  }
  .switch-toggle.switch-material input:checked + label:before {
    border-color: #3f51b5;
  }
  /* ripple
 */
  .switch-light.switch-material > span:before,
  .switch-light.switch-material > span:after,
  .switch-toggle.switch-material label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background: #3f51b5;
    opacity: 0.4;
    margin-left: -1.25em;
    margin-top: -1.25em;
    transform: scale(0);
    transition: opacity 0.4s ease-in;
  }
  .switch-light.switch-material > span:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -1.25em;
  }
  .switch-toggle.switch-material label:after {
    width: 3.25em;
    height: 3.25em;
    margin-top: -0.75em;
  }
  @keyframes materialRipple {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  .switch-material.switch-light input:not(:checked) ~ span:after,
  .switch-material.switch-light input:checked ~ span:before,
  .switch-toggle.switch-material input:checked + label:after {
    animation: materialRipple 0.4s ease-in;
  }
  /* trick to prevent the default checked ripple animation from showing
 * when the page loads.
 * the ripples are hidden by default, and shown only when the input is focused.
 */
  .switch-light.switch-material.switch-light input ~ span:before,
  .switch-light.switch-material.switch-light input ~ span:after,
  .switch-material.switch-toggle input + label:after {
    visibility: hidden;
  }
  .switch-light.switch-material.switch-light input:focus:checked ~ span:before,
  .switch-light.switch-material.switch-light
    input:focus:not(:checked)
    ~ span:after,
  .switch-material.switch-toggle input:focus:checked + label:after {
    visibility: visible;
  }
}

/* Bugfix for older Webkit, including mobile Webkit. Adapted from
 * http://css-tricks.com/webkit-sibling-bug/
 */
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
  .switch-light,
  .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s;
  }
}

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.toggleContainer2 {
  width: 100%;
}
.toggleContainer {
  width: auto;
  /* padding-bottom: 10px; */
  display: grid;
  grid-template-columns: 20px 1fr;
  line-height: 40px;
  /* height: 100%; */
  /* height: -moz-available; WebKit-based browsers will ignore this. */
  /* height: -webkit-fill-available; Mozilla-based browsers will ignore this. */
  /* height: fill-available; */

  /* align-items: center; */
}
.toggleContainerSelection {
  /* padding-bottom: 10px; */
  width: 99%;
  display: grid;
  grid-template-columns: 135px 1fr;
  line-height: 60px;
  max-width: 375px;
  float: left;
  border: 1px solid var(--raiders-gray);
  border-radius: 10px;
  padding-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 49px;
  padding-bottom: 0px;
  /* align-items: center; */
}
.playerDisplayContainer {
  width: calc(99% - 40px);
  display: grid;
  grid-template-columns: 25% 1fr;
  line-height: 40px;

  padding-top: 13px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 49px;
  padding-bottom: 0px;
  border-bottom: 3px solid lightskyblue;
}
.playerGUIContainer {
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid var(--raiders-gray);
  border-radius: 10px;
  width: 95%;
  margin-left: 20px;
}
.labelText {
  margin-top: 4px;
  font-size: 16px;
  margin-right: 6px;
  font-family: "DIN-Regular";
  text-align: center;
  color: black;
}
.playerList {
  /* background-color: #b5b8be;
  border: 1px solid black;
  position: absolute;
  top: 124px;
  z-index: 1000; */
  height: 345px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 500px;
  text-align: center;
  width: 96%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
  overflow-y: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-left: 14px;
}

.grid-itemGen {
  border-radius: 10px;
  height: 110px;
  width: 110px;
  background-color: white;
  /* padding-left: 20px;
  padding-right: 20px; */
  font-size: 20px;
  font-weight: bold;
  font-family: "DIN-Regular";
  text-align: left;
  background-color: #ebeced;
  margin-top: 10px;
  border: 2px solid rgb(80, 80, 80);
  background-color: rgb(80, 80, 80);
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
}
.grid-itemGen:hover {
  border-top-right-radius: 10px;
  border: 2px solid var(--lighter-blue);
  background-color: var(--lighter-blue);
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
  text-shadow: 0px 0px 6px var(--color-white);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.97);
  -mox-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.97);
  transition: all 0.2s ease 0s;
}
.toggleContainerClub2 {
  width: 100%;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 20px 1fr;
  line-height: 40px;
  /* align-items: center; */
}
.togglev2Containers {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
}
.tier3Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  grid-row-gap: 20px;
  grid-column-gap: 10%;
  align-items: center;
}
.tier3Grid2 {
  padding-bottom: 0px;
  padding-top: 0px;
  align-items: center;
  display: inline-block;
}
.togglelabel {
  color: black;
  width: 100%;
  float: left;
  font-family: "DIN-Italic";
  font-size: 18px;
  line-height: 52px;
  padding-left: 3px;
}
.toggleLabelClub2 {
  color: black;
  width: 100%;
  float: left;
  font-family: "DIN-Regular";
  font-size: 18px;
}
.guiArea {
  flex: 1;
  float: left;
  padding-left: 10px;
  padding-top: 0px;
  /* display: flex; */
  align-items: center;
  min-height: 300px;
  justify-content: center;
}
.numberInput {
  color: black;
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
}
.afc {
  background-color: red;
  float: left;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: "DIN-Regular";
}
.nfc {
  float: right;
  background-color: blue;
  opacity: 0.5;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: "DIN-Regular";
}
.division {
  font-weight: bold;
  font-size: 20px;
}
.confSelect {
  width: 50%;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 1.6;
  font-weight: bold;
}
.confSelected {
  opacity: 0.5;
}
.teamGUI {
  color: black;
  display: grid;
  grid-template-columns: 40px 125px 125px 125px 125px;
  padding: 5px;
  padding-right: 1px;
  grid-row-gap: 10px;
  grid-column-gap: 35px;
  align-items: center;
}
.toggleLabel {
  margin-left: calc(80px + 0%);
  margin-bottom: 5px;
  max-width: calc(605px);
}
.singleTeamGUI,
.singleTeamGUISelected {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 1.5px 5px 0 rgba(0, 0, 0, 0.38);
}
.singleTeamGUI:hover,
.singleTeamGUISelected:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6), 0 5px 14px 0 rgba(0, 0, 0, 0.57);
}

.rowTeams {
  background-color: var(--raiders-gray);
}
.league {
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-radius: 6px;
  border: 3px solid var(--raiders-gray);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 1.5px 5px 0 rgba(0, 0, 0, 0.38);
  width: 150px !important;
  height: 165px !important;
  margin-left: 20px !important;
  float: left !important;
}
.leagueSelected {
  /* background-color: var(--lighter-blue); */
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-radius: 6px;
  border: 3px solid var(--lighter-blue);
  box-shadow: inset 0 0 20px var(--lighter-blue);
  width: 150px !important;
  height: 165px !important;
  margin-left: 20px !important;
  float: left !important;
}
.leagueSelected:hover {
  box-shadow: inset 0 0 10px var(--lighter-blue);
}
.league:hover {
  border: 3px solid var(--lighter-blue);
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6), 0 5px 14px 0 rgba(0, 0, 0, 0.57);
}
.seasonWeek {
  color: black;
}
.mat-button-toggle-label-content {
  background-color: var(--raiders-gray) !important;
}
.yearSelection {
  width: 40px;
}
.typeButton {
  width: 50px;
  height: 32px;
  line-height: 32px;

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    #ddd 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;
  color: #222;
  transition: background-position 0.3s ease-out;
}
.typeButton:hover {
  /* background-color: var(--raiders-gray); */
  background-position: -99.99% 0;

  cursor: pointer;
}
.swSelection {
  border: 1px solid var(--raiders-gray);
  float: left;
  width: 40px;
  height: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  line-height: 30px;
  font-family: "DIN-Regular";
  text-align: center;
  top: 50%;
}
.weekSelection {
  width: 30px;
}
.yearSelection:hover,
.weekSelection:hover {
  cursor: pointer;
  box-shadow: 0px 3px 2px var(--darker-gray);
}
.commonNote {
  font-size: 12px;
  height: 32px;
  line-height: 45px;
  margin-left: 10px;
}
.addButton {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  border-radius: 15px;
}
.bottom {
  margin-top: 3px;
  min-height: 300px;
  padding-bottom: 15px;
}
.attributesValues {
  color: black;
}
::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  top: 103px;
  left: 200px;
}
.nickNameQuery {
  min-width: 150px;
  display: inline-block;
  color: black;
  margin-left: 5px;
}
.nicknameInput {
  color: black;
}
.nickNameTitle {
  color: black;
  width: auto;
  display: inline-block;
}
.wholecontent {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) auto; */
  grid-column-gap: 0px;
  /* padding-left: 5px; */
  height: 100%;
  min-height: 100px;
}
.rightSideFontFilter {
  font-size: 14px;
}
.ovrSingleFilter {
  float: left;
  height: 35px;
  margin-top: 5px;
  height: 35px;
  margin-left: 10px;

  width: auto;
}
.filterLeftBorder {
  border-radius: 3px 0px 0px 3px;
  /* background-color: green; */
  width: 3px;
  height: 35px;
  float: left;
}
.filterMiddleBorder {
  float: left;
  font-weight: bold;
  height: 35px;
  line-height: 36px;
  font-family: "DIN-Regular";
}
.filterRightBorder {
  float: left;
  height: 35px;
  border-radius: 0px 5px 5px 0px;
  width: 28px;
}
.filterLeftBorder:hover,
.filterRightBorder:hover,
.filterMiddleBorder:hover {
  cursor: pointer;
}

.fullWidth {
  width: 100%;
}
.minMaxWidth {
  font-family: "DIN-Regular";
  width: 100%;
}

td {
  padding-right: 8px;
}
.colorBlack {
  color: black;
}
.timesCenterClose {
  margin-left: 5px;
  margin-top: 8px;
  font-size: 20px;
}
