<mat-dialog-content
  [formGroup]="filterService.form"
  style="background-color:white"
>
  <Div class="ovr-container2">
    <div class="top">
      <div class=" griditem2 tier1-container">
        <div
          id="tier1Tab{{ t1.key }}"
          *ngFor="
            let t1 of filterService.pullStructure | keyvalue: valueOrderT1
          "
          class="tier1Tab"
          (click)="filterService.changelevel2(t1.key)"
        >
          <div class="tableCenter">
            {{ returnlabel(filterService.pullBin[t1.key]) }}
          </div>
        </div>
        <div class="searching">
          <div>
            <span>
              <i
                class="sicon fa fa-search fa-sm"
                style="color:white;margin-left:5%;"
              ></i>
              <input
                type="text"
                id="searchGlobalText"
                placeholder="  SEARCH"
                (input)="searching($event.target.value)"
                autocomplete="off"
                class="filterSearch"
              />
            </span>
          </div>
          <!-- <div class="suggestionList" *ngIf="showSuggestions">
            <div
              *ngFor="
                let result of reverse | keyvalue | filter: searchGlobalText
              "
              (click)="resultSelected(result)"
              class="gSearchBlock"
            >
              {{ idToString[result.key] }}
            </div>
          </div> -->
        </div>
      </div>
      <div style="float:right" class="exit">
        <i class="fa fa-close fa-lg" (click)="close()"></i>
      </div>
    </div>
    <div class="bottom">
      <div class="wholecontent" *ngIf="filterService.pullStructure">
        <div
          class="leftside"
          id="leftside{{ panel }}"
          *ngFor="let panel of filterService.panels"
        >
          <div
            *ngFor="
              let first of getPanelOptions(panel)
                | keyvalue: valueOrderSideButtons
            "
            class="singlePanel"
            (click)="filterService.attributeSelected(first.key)"
            id="buttonContainer{{ first.key }}"
          >
            <div class="tier2-name" id="firstname{{ first.key }}">
              {{ returnlabel(filterService.pullNavigationElement[first.key]) }}
            </div>
            <div id="selectKey{{ first.key }}" class="selectKey">
              <i class="fa fa-chevron-right fa-sm"></i>
            </div>
          </div>
        </div>
        <div class="guiArea">
          <div style="width: 100%">
            <H2 class="l2Title" *ngIf="filterService.show != ''"
              >{{
                filterService.pullAttribute[filterService.show][Label]
              }}
              Filters</H2
            >
          </div>
          <ng-container
            *ngIf="
              filterService.pullAttribute[filterService.show] &&
              0 == filterService.pullAttribute[filterService.show]['UITypeID']
            "
          >
            <ng-container
              *ngTemplateOutlet="
                type0Selection;
                context: { id: filterService.show, values: null }
              "
              style="width:100%"
            ></ng-container>
          </ng-container>
          <ng-container
            *ngIf="
              filterService.pullAttribute[filterService.show] &&
              1 == filterService.pullAttribute[filterService.show]['UITypeID']
            "
          >
            <ng-container
              *ngTemplateOutlet="
                type1Selection;
                context: { id: filterService.show, values: null }
              "
              style="width:100%"
            ></ng-container>
          </ng-container>
          <ng-container
            *ngIf="
              filterService.pullAttribute[filterService.show] &&
              2 == filterService.pullAttribute[filterService.show]['UITypeID']
            "
          >
            <ng-container
              *ngTemplateOutlet="
                type2Selection;
                context: { id: filterService.show, values: null }
              "
              style="width:100%"
            ></ng-container>
          </ng-container>
          <ng-container
            *ngIf="
              filterService.pullAttribute[filterService.show] &&
              3 == filterService.pullAttribute[filterService.show]['UITypeID']
            "
          >
            <ng-container
              *ngTemplateOutlet="
                type3Selection;
                context: { id: filterService.show, values: null }
              "
              style="width:100%"
            ></ng-container>
          </ng-container>
          <ng-container
            *ngIf="
              filterService.pullAttribute[filterService.show] &&
              4 == filterService.pullAttribute[filterService.show]['UITypeID']
            "
          >
            <ng-container
              *ngTemplateOutlet="
                type4Selection;
                context: { id: filterService.show, values: null }
              "
              style="width:100%"
            ></ng-container>
          </ng-container>
        </div>
        <div class="rightside">
          <ng-container
            *ngFor="let bin of filterService.newWorkingQuery | keyvalue"
          >
            <div class="tier3Grid2" *ngIf="(bin.value | json) != '{}'">
              <ng-container *ngFor="let att of bin.value | keyvalue">
                <ng-container *ngFor="let val of att.value">
                  <div
                    class="ovrSingleFilter insideGrid-container3"
                    *ngIf="val != null"
                  >
                    <div
                      class="filterLeftBorder"
                      [ngStyle]="filterService.setFilterStyle(bin.key, 0)"
                    ></div>
                    <div
                      class="filterMiddleBorder"
                      [ngStyle]="filterService.setFilterStyle(bin.key, 1)"
                      (click)="navigateToAttribute(bin.key, att.key)"
                    >
                      <div
                        style="position: relative; top: -10px; font-size: 12px;"
                      >
                        &nbsp;{{ filterService.pullAttribute[att.key][Label] }}
                        &nbsp;
                      </div>
                      <div
                        style="top: -29px;
                    position: relative;"
                      >
                        <ng-container
                          *ngIf="
                            filterService.pullAttribute[att.key]['UITypeID'] !=
                            4
                          "
                        >
                          &nbsp;&nbsp;&nbsp;{{
                            filterService.pullValueMap[att.key][val][Label]
                          }}&nbsp;&nbsp;&nbsp;
                        </ng-container>
                        <ng-container
                          *ngIf="
                            filterService.pullAttribute[att.key]['UITypeID']
                          "
                        >
                          <ng-container
                            *ngIf="
                              filterService.newWorkingQuery[bin.key][
                                att.key
                              ][0] == val
                            "
                          >
                            Min:
                          </ng-container>
                          <ng-container
                            *ngIf="
                              filterService.newWorkingQuery[bin.key][
                                att.key
                              ][0] != val
                            "
                          >
                            Max:
                          </ng-container>
                          &nbsp;&nbsp;&nbsp;{{ val }}&nbsp;&nbsp;&nbsp;
                        </ng-container>
                      </div>
                    </div>
                    <div
                      class="filterRightBorder"
                      [ngStyle]="filterService.setFilterStyle(bin.key, 2)"
                      (click)="
                        filterService.clearSingleValuePop(bin.key, att.key, val)
                      "
                    >
                      <i
                        class="fa fa-times"
                        style="margin-left: 4px;margin-right: 4px;margin-top: 8px;"
                      ></i>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
          <div class="bottomQueryButtons">
            <button class="save" (click)="pushWorkingQuery()">
              SUBMIT
            </button>
            <button class="save" (click)="clearWorkingQuery()">
              CLEAR
            </button>
          </div>
        </div>
      </div>

      <ng-template #type0 let-id="id" let-values="values" let-bin="bin">
        <div class="toggleContainer">
          <div style="margin-top:3px; color: red !important;" class="exit">
            <i class="fa fa-close fa-lg" (click)="clearSingle(id, bin)"></i>
          </div>
          <!-- <div class="togglelabel">
            {{ filterService.pullAttribute[id][Label] }}:
          </div> -->

          <mat-form-field
            id="tier3Tab{{ id }}"
            style="width:100%; padding-right:0%; max-width: 10vw;"
          >
            <mat-select
              [formControl]="filterService.form.controls[id]"
              multiple
              (selectionChange)="type0change(id, bin)"
              style="color:black;"
              class="rightSideFontFilter"
            >
              <mat-option>
                <ngx-mat-select-search
                  id="{{ id }}search"
                  formControlName="{{ id }}search"
                  placeholderLabel="Search"
                  [noEntriesFoundLabel]="'None Found'"
                  [clearSearchInput]="false"
                  style="caret-color: white !important;"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option disabled>
                <button
                  id="{{ id }}all"
                  mat-button
                  (click)="toggleAllSelections(id, true, bin)"
                >
                  Select All
                </button>
                <button
                  id="{{ id }}none"
                  (click)="toggleAllSelections(id, false, bin)"
                  mat-button
                >
                  Deselect All
                </button>
              </mat-option>

              <mat-option
                *ngFor="
                  let cat of filterService.pullValueMap[id]
                    | keyvalue
                    | filter2: filterService.form.value[id + 'search']:id
                "
                [value]="cat.key"
                class="clickedWhite"
                >{{ cat.value[Label] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </ng-template>
      <ng-template #type1 let-id="id" let-values="values" let-bin="bin">
        <div *ngFor="let option of filterService.pullValueMap[id] | keyvalue">
          <div
            onload=""
            class="league"
            id="{{ option.value[Label] }}"
            (click)="filterService.toggleLeague(id, option.key, bin)"
            *ngIf="
              filterService.form.value[id] == null ||
              !filterService.form.value[id].includes(option.key)
            "
          >
            <img
              [src]="
                filterService.createLeagueImages(
                  filterService.pullValueMap[id][option.key][Label]
                )
              "
              [ngStyle]="filterService.setLeagueIconStyle(option.key, id)"
            />
          </div>
          <div
            *ngIf="
              filterService.form.value[id] != null &&
              filterService.form.value[id].includes(option.key)
            "
            class="leagueSelected"
            id="{{ option.value[Label] }}"
            (click)="filterService.toggleLeague(id, option.key, bin)"
          >
            <img
              [src]="
                filterService.createLeagueImages(
                  filterService.pullValueMap[id][option.key][Label]
                )
              "
              [ngStyle]="filterService.setLeagueIconStyle(option.key, id)"
            />
          </div>
        </div>
      </ng-template>
      <ng-template #type2 let-id="id" let-values="values" let-bin="bin">
        <div class="toggleContainerClub2">
          <div style="margin-top:3px; color: red !important;" class="exit">
            <i class="fa fa-close fa-lg" (click)="clearSingle(id, bin)"></i>
          </div>
          <div>
            <div
              class="switch-toggle switch-3 switch-candy"
              style="background-color: var(--raiders-gray); max-width: 607px; margin-left: 79px;"
            >
              <input
                id="onconf{{ id }}"
                name="state-dconf{{ id }}"
                type="radio"
                [checked]="filterService.checkType2ConfChecked(id, 'AFC')"
              />

              <label
                for="onconf{{ id }}"
                id="AFCButton{{ id }}"
                (click)="filterService.changeConference(id, 'AFC')"
                >AFC</label
              >

              <input
                id="offconf{{ id }}"
                name="state-dconf{{ id }}"
                type="radio"
                [checked]="filterService.checkType2ConfChecked(id, 'NFC')"
              />
              <label
                for="offconf{{ id }}"
                id="NFCButton{{ id }}"
                (click)="filterService.changeConference(id, 'NFC')"
                >NFC</label
              >

              <a
                onload="this.filterService.changeConference('2', 'AFC')"
                id="switchConference{{ id }}"
              ></a>
            </div>

            <div class="teamGUI" style="color:black">
              <ng-container
                *ngFor="let conf of [filterService.conferenceSelections[id]]"
              >
                <ng-container
                  *ngFor="let div of ['North', 'South', 'East', 'West']"
                  class="rowTeams"
                >
                  <ng-container
                    *ngIf="filterService.conferenceSelections[id] === conf"
                  >
                    <div class="division">
                      {{ div }}
                    </div>
                    <ng-container
                      *ngFor="
                        let team of filterService.getDisplayTeams(
                          ['Conference', 'Division'],
                          [conf, div]
                        );
                        let i = index
                      "
                    >
                      <ng-template
                        *ngIf="
                          filterService.form.value[id] != null &&
                            filterService.form.value[id].indexOf(
                              team['SailTeamID']
                            ) !== -1;
                          then teamselected;
                          else teamnotselected
                        "
                      >
                      </ng-template>
                      <ng-template #teamnotselected>
                        <div
                          class="singleTeamGUI"
                          id="teamGUI{{ team['TeamCode'] }}"
                          (click)="filterService.toggleTeam(team, id, bin)"
                        >
                          <div
                            style="text-align: center; z-index: 0; height: 60px;"
                          >
                            <img
                              [src]="filterService.logo(team)"
                              style="width:100%; height:100%;opacity: 0.3 "
                            />
                          </div>
                        </div>
                      </ng-template>
                      <ng-template #teamselected>
                        <div
                          class="singleTeamGUISelected"
                          id="teamGUI{{ team['TeamCode'] }}"
                          (click)="filterService.toggleTeam(team, id, bin)"
                        >
                          <div
                            style="text-align: center; z-index: 0; height: 60px;"
                          >
                            <img
                              [src]="filterService.logo(team)"
                              style="width:100%; height:100%; opacity: 1"
                            />
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #type3 let-id="id" let-values="values" let-bin="bin">
        <div class="toggleContainer">
          <div style="margin-top:3px; color: red !important;" class="exit">
            <i class="fa fa-close fa-lg" (click)="clearSingle(id, bin)"></i>
          </div>
          <!-- <div class="togglelabel">
            {{ filterService.pullAttribute[id][Label] }}:
          </div> -->
          <div>
            <div class="form-group">
              <div class="switch-toggle switch-3 switch-candy">
                <input
                  id="off{{ id }}"
                  name="state-d{{ id }}"
                  type="radio"
                  [checked]="filterService.checkType3ToggleChecked(id, 'False')"
                />
                <label
                  for="off{{ id }}"
                  (click)="
                    filterService.changeToggleValue(id, 'False', false, bin)
                  "
                  >OFF</label
                >
                <input
                  id="na{{ id }}"
                  name="state-d{{ id }}"
                  type="radio"
                  [checked]="filterService.checkType3ToggleChecked(id, 'na')"
                />
                <label
                  for="na{{ id }}"
                  (click)="filterService.changeToggleValue(id, '0', true, bin)"
                  >N/A</label
                >
                <input
                  id="on{{ id }}"
                  name="state-d{{ id }}"
                  type="radio"
                  [checked]="filterService.checkType3ToggleChecked(id, 'True')"
                />
                <label
                  for="on{{ id }}"
                  (click)="
                    filterService.changeToggleValue(id, 'True', false, bin)
                  "
                  >ON</label
                >

                <a></a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #type0Selection let-id="id" let-values="values">
        <div class="toggleContainerSelection">
          <div class="togglelabel">
            {{ filterService.pullAttribute[id][Label] }}:
          </div>

          <mat-form-field
            id="tier3Tab{{ id }}"
            style="width:100%; padding-right:5%;"
          >
            <mat-select
              [formControl]="filterService.form.controls[id]"
              multiple
              (selectionChange)="type0change(id, filterService.level1Selected)"
              style="color:black;"
            >
              <mat-option>
                <ngx-mat-select-search
                  id="{{ id }}search"
                  formControlName="{{ id }}search"
                  placeholderLabel="Search"
                  [noEntriesFoundLabel]="'None Found'"
                  [clearSearchInput]="false"
                  style="caret-color: white !important;"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option disabled>
                <button
                  id="{{ id }}all"
                  mat-button
                  (click)="
                    toggleAllSelections(id, true, filterService.level1Selected)
                  "
                >
                  Select All
                </button>
                <button
                  id="{{ id }}none"
                  (click)="
                    toggleAllSelections(id, false, filterService.level1Selected)
                  "
                  mat-button
                >
                  Deselect All
                </button>
              </mat-option>

              <mat-option
                *ngFor="
                  let cat of filterService.pullValueMap[id]
                    | keyvalue
                    | filter2: filterService.form.value[id + 'search']:id
                "
                [value]="cat.key"
                class="clickedWhite"
                >{{ cat.value[Label] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </ng-template>
      <ng-template #type1Selection let-id="id" let-values="values">
        <div *ngFor="let option of filterService.pullValueMap[id] | keyvalue">
          <div
            onload=""
            class="league"
            id="{{ option.value[Label] }}"
            (click)="
              filterService.toggleLeague(
                id,
                option.key,
                filterService.level1Selected
              )
            "
            *ngIf="
              filterService.form.value[id] == null ||
              !filterService.form.value[id].includes(option.key)
            "
          >
            <img
              [src]="
                filterService.createLeagueImages(
                  filterService.pullValueMap[id][option.key][Label]
                )
              "
              [ngStyle]="filterService.setLeagueIconStyle(option.key, id)"
            />
          </div>
          <div
            *ngIf="
              filterService.form.value[id] != null &&
              filterService.form.value[id].includes(option.key)
            "
            class="leagueSelected"
            id="{{ option.value[Label] }}"
            (click)="
              filterService.toggleLeague(
                id,
                option.key,
                filterService.level1Selected
              )
            "
          >
            <img
              [src]="
                filterService.createLeagueImages(
                  filterService.pullValueMap[id][option.key][Label]
                )
              "
              [ngStyle]="filterService.setLeagueIconStyle(option.key, id)"
            />
          </div>
        </div>
      </ng-template>
      <ng-template #type2Selection let-id="id" let-values="values">
        <div class="toggleLabelClub2">
          <div
            class="switch-toggle switch-3 switch-candy"
            style="background-color: var(--raiders-gray); max-width: 607px; margin-left: 79px;"
          >
            <input
              id="onconf{{ id }}"
              name="state-dconf{{ id }}"
              type="radio"
              [checked]="filterService.checkType2ConfChecked(id, 'AFC')"
            />

            <label
              for="onconf{{ id }}"
              id="AFCButton{{ id }}"
              (click)="filterService.changeConference(id, 'AFC')"
              >AFC</label
            >

            <input
              id="offconf{{ id }}"
              name="state-dconf{{ id }}"
              type="radio"
              [checked]="filterService.checkType2ConfChecked(id, 'NFC')"
            />
            <label
              for="offconf{{ id }}"
              id="NFCButton{{ id }}"
              (click)="filterService.changeConference(id, 'NFC')"
              >NFC</label
            >

            <a id="switchConference{{ id }}"></a>
          </div>
        </div>
        <div class="teamGUI" style="color:black">
          <ng-container
            *ngFor="let conf of [filterService.conferenceSelections[id]]"
          >
            <ng-container
              *ngFor="let div of ['North', 'South', 'East', 'West']"
              class="rowTeams"
            >
              <ng-container
                *ngIf="filterService.conferenceSelections[id] === conf"
              >
                <div class="division">
                  {{ div }}
                </div>
                <ng-container
                  *ngFor="
                    let team of filterService.getDisplayTeams(
                      ['Conference', 'Division'],
                      [conf, div]
                    );
                    let i = index
                  "
                >
                  <ng-template
                    *ngIf="
                      filterService.form.value[id] != null &&
                        filterService.checkNotInArray(
                          filterService.form.value[id],
                          team['SailTeamID']
                        );
                      then teamselected;
                      else teamnotselected
                    "
                  >
                  </ng-template>
                  <ng-template #teamnotselected>
                    <div
                      class="singleTeamGUI"
                      id="teamGUI{{ team['SailTeamID'] }}"
                      (click)="
                        filterService.toggleTeam(
                          team,
                          id,
                          filterService.level1Selected
                        )
                      "
                    >
                      <div
                        style="text-align: center; z-index: 0; height: 60px;"
                      >
                        <img
                          [src]="filterService.logo(team)"
                          style="width:100%; height:100%;opacity: 0.3 "
                        />
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #teamselected>
                    <div
                      class="singleTeamGUISelected"
                      id="teamGUI{{ team['SailTeamID'] }}"
                      (click)="
                        filterService.toggleTeam(
                          team,
                          id,
                          filterService.level1Selected
                        )
                      "
                    >
                      <div
                        style="text-align: center; z-index: 0; height: 60px;"
                      >
                        <img
                          [src]="filterService.logo(team)"
                          style="width:100%; height:100%; opacity: 1"
                        />
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-template>
      <ng-template #type3Selection let-id="id" let-values="values">
        <div class="toggleContainerSelection">
          <div class="togglelabel">
            {{ filterService.pullAttribute[id][Label] }}:
          </div>
          <div>
            <div class="form-group">
              <div class="switch-toggle switch-3 switch-candy">
                <input
                  id="off{{ id }}"
                  name="state-d{{ id }}"
                  type="radio"
                  [checked]="filterService.checkType3ToggleChecked(id, 'False')"
                />
                <label
                  for="off{{ id }}"
                  (click)="
                    filterService.changeToggleValue(
                      id,
                      'False',
                      false,
                      filterService.level1Selected
                    )
                  "
                  >OFF</label
                >
                <input
                  id="na{{ id }}"
                  name="state-d{{ id }}"
                  type="radio"
                  [checked]="filterService.checkType3ToggleChecked(id, 'na')"
                />
                <label
                  for="na{{ id }}"
                  (click)="
                    filterService.changeToggleValue(
                      id,
                      '0',
                      true,
                      filterService.level1Selected
                    )
                  "
                  >N/A</label
                >
                <input
                  id="on{{ id }}"
                  name="state-d{{ id }}"
                  type="radio"
                  [checked]="filterService.checkType3ToggleChecked(id, 'True')"
                />
                <label
                  for="on{{ id }}"
                  (click)="
                    filterService.changeToggleValue(
                      id,
                      'True',
                      false,
                      filterService.level1Selected
                    )
                  "
                  >ON</label
                >

                <a></a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #type4Selection let-id="id" let-values="values">
        <div class="toggleContainerSelection">
          <div class="togglelabel">
            {{ filterService.pullAttribute[id][Label] }}:
          </div>
          <div>
            <div class="form-group">
              <table class="fullWidth" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="minMaxWidth">
                      <input
                        class="colorBlack"
                        id="type4InputMin{{ id }}"
                        name="type4InputMin{{ id }}"
                        value="null"
                        matInput
                        type="number"
                        maxlength="5"
                        placeholder="Min"
                        (input)="
                          filterService.changeType4Input(
                            id,
                            $event.target.value,
                            true
                          )
                        "
                      />
                      <!-- (change)="filterService.changeType4Input(id," -->
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="minMaxWidth">
                      <input
                        class="colorBlack"
                        id="type4InputMax{{ id }}"
                        name="type4InputMax{{ id }}"
                        value="null"
                        matInput
                        type="number"
                        maxlength="5"
                        placeholder="Max"
                        (input)="
                          filterService.changeType4Input(
                            id,
                            $event.target.value,
                            false
                          )
                        "
                      />
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <!--     
  
          <div class="suggestionList" *ngIf="showSuggestions">
            <div
              *ngFor="
                let result of reverse | keyvalue | filter: searchGlobalText
              "
              (click)="resultSelected(result)"
              class="gSearchBlock"
            >
              {{ idToString[result.key] }}
            </div>
          </div>
        </div>



      </div>
      <div class="tier3">
        <div>
          <H2 class="l2Title">{{ netIDToString[level2Selected] }} Filters</H2>
        </div>

        <div *ngIf="level2Selected == 200" class="seasonWeek">
          <div
            style="display: flex; border-bottom: 1px solid var(--darker-gray); padding-bottom:10px;"
          >
            <div class="typeButton" (click)="selectAllSeasonWeek('year')">
              Years:
            </div>
            <div *ngFor="let year of years">
              <span
                class="swSelection yearSelection"
                (mouseenter)="toggleYear(year, $event)"
                id="{{ year }}"
                (mousedown)="toggleYearHighlight(year)"
              >
                {{ year }}
              </span>
            </div>
            <div class="commonNote">
              note: you are only viewing common weeks selected for each year
            </div>
          </div>
          <div
            *ngFor="let weekSet of ['PRE', 'REG', 'POST']"
            style="display: flex; margin-top: 20px;"
          >
            <div class="typeButton" (click)="selectAllSeasonWeek(weekSet)">
              {{ weekSet }}:
            </div>
            <div *ngFor="let week of weeks[weekSet]">
              <span
                (mouseenter)="toggleWeek(weekSet, week, $event)"
                id="{{ weekSet }}{{ week }}"
                (mousedown)="toggleWeekHighlight(weekSet, week)"
                *ngIf="checkIfSelected(weekSet, week)"
                style="background-color: gray"
                class="swSelection weekSelection"
              >
                {{ week }}
              </span>
              <span
                (mouseenter)="toggleWeek(weekSet, week, $event)"
                id="{{ weekSet }}{{ week }}"
                (mousedown)="toggleWeekHighlight(weekSet, week)"
                *ngIf="!checkIfSelected(weekSet, week)"
                style="background-color: white"
                class="swSelection weekSelection"
              >
                {{ week }}
              </span>
            </div>
          </div>
        </div>
        

    
    </div> -->
  </Div>
</mat-dialog-content>
<mat-dialog-actions style="min-height: 0px !important;"> </mat-dialog-actions>
