<div class="topBarPlayer">
  <div style="width: 100%; height: 93px;">
    <div class="g-profile" style="max-height: 93px;">
      <div class="g-profile__grid overflow-hidden" style="max-height: 93px;">
        <div class="g-profile__profile" id="player">
          <div class="g-profile__photo_player_box">
            <img
              [src]="
                filterService.playerImageURLs[
                  filterService.playerPortalActivePlayerID
                ]
              "
              onError="this.src='https://sail-bucket.s3-us-west-2.amazonaws.com/Player_Images/Blank_Player4.png'"
              id="player"
              class="g-profile__photo_player"
              (click)="displayPlayers(showList)"
            />
          </div>
        </div>
        <div class="g-profile__identity">
          <div style="display: flow-root;">
            <div id="player" class="nameBoxPlayer">
              <h2
                id="player"
                class="g-profile__name playerPointer"
                (click)="displayPlayers(showList)"
              >
                {{
                  filterService.getLabel(
                    filterService.playerPortalSelected,
                    "Label"
                  )
                }}
                <!-- <span id="player" style="font-size:19px"
                  >&nbsp;{{ "\u25BD" }}</span
                > -->

                <i
                  id="player"
                  style="font-size: 25px;
                margin-left: 2px;"
                  class="fa fa-angle-down fa-lg"
                ></i>
              </h2>
            </div>
            <div #teamAndRosterStaturs class="din teamRoster">
              <img
                *ngFor="
                  let disp of filterService.getPlayerSpecifics(0)
                    | Sort: 'OrderID'
                "
                class="clubLogo"
                [src]="getActiveLogo(getTeamID(disp))"
                onError="this.onerror=null;this.src='https://sail-bucket.s3-us-west-2.amazonaws.com/NFL_Logos_Transparent/NFL_.png'"
              />

              <span
                *ngFor="
                  let disp of filterService.getPlayerSpecifics(1)
                    | Sort: 'OrderID'
                "
                class="clubLogoText"
              >
                {{ filterService.getLabel(disp, "Value") }}

                <span
                  [ngStyle]="filterService.setGradeColor(disp)"
                  [innerHTML]="filterService.getLabel(disp, 'SubValue')"
                ></span>
              </span>
            </div>
            <div #draftInfo class="din draftInfo">
              <div class=" din g-profile__bio">
                <span
                  class="g-profile__bio-element"
                  *ngFor="
                    let disp of filterService.getPlayerSpecifics(2)
                      | Sort: 'OrderID'
                  "
                  ><span class="g-label g-mb-1">{{
                    filterService.getLabel(disp, "Label")
                  }}</span
                  ><span
                    class="g-data"
                    [ngStyle]="filterService.setStyleColor(disp)"
                    >{{ filterService.getLabel(disp, "Value")
                    }}<span
                      class="rankText"
                      [ngStyle]="filterService.setStyleColor(disp)"
                      >{{ filterService.getLabel(disp, "SubValue") }}</span
                    ></span
                  ></span
                >
              </div>
            </div>
            <div id="year" class="yearBox" (click)="showYearList()">
              <div
                id="year"
                class=""
                *ngIf="filterService.portalYearsOnly.length > 0"
              >
                {{ filterService.getYearDisplay() }} &nbsp;
              </div>
              <div
                id="year"
                class=""
                *ngIf="filterService.portalYearsOnly.length == 0"
              >
                Year &nbsp;
              </div>

              <i
                id="year"
                style="line-height: inherit;"
                class="fa fa-angle-down fa-lg"
              ></i>
            </div>
          </div>
        </div>
        <div
          class="g-profile__bio-container"
          style="display:flex; min-height: 47px;"
        >
          <div class="posCollege">
            <div
              *ngFor="
                let disp of filterService.getPlayerSpecifics(3)
                  | Sort: 'OrderID'
              "
            >
              &nbsp; &nbsp;{{ filterService.getLabel(disp, "Value") }}
            </div>
          </div>
          <div class="g-profile__bio w400FloatLeft">
            <span
              class="g-profile__bio-element"
              *ngFor="
                let disp of filterService.getPlayerSpecifics(4)
                  | Sort: 'OrderID'
              "
              ><span class="g-label g-mb-1">{{
                filterService.getLabel(disp, "Label")
              }}</span
              ><span
                class="g-data"
                [ngStyle]="filterService.setStyleColor(disp)"
                >{{ filterService.getLabel(disp, "Value")
                }}<span
                  class="rankText"
                  [ngStyle]="filterService.setStyleColor(disp)"
                  >{{ filterService.getLabel(disp, "SubValue") }}</span
                ></span
              ></span
            >
          </div>
          <div #birthInfo class="din birthInfo">
            <span
              class="g-profile__bio-element"
              *ngFor="
                let disp of filterService.getPlayerSpecifics(5)
                  | Sort: 'OrderID'
              "
              ><span class="g-label g-mb-1">{{
                filterService.getLabel(disp, "Label")
              }}</span
              ><span
                class="g-data"
                [ngStyle]="filterService.setStyleColor(disp)"
              >
                {{ filterService.getLabel(disp, "Value")
                }}<span
                  class="rankText"
                  [ngStyle]="filterService.setStyleColor(disp)"
                  >{{ filterService.getLabel(disp, "SubValue") }}</span
                ></span
              ></span
            >
          </div>
          <div #agentInfo class="din agentInfo">
            <span
              class="g-profile__bio-element"
              *ngFor="
                let disp of filterService.getPlayerSpecifics(6)
                  | Sort: 'OrderID'
              "
              ><span class="g-label g-mb-1">{{
                filterService.getLabel(disp, "Label")
              }}</span
              ><span
                class="g-data"
                [ngStyle]="filterService.setStyleColor(disp)"
                >{{ filterService.getLabel(disp, "Value") }}</span
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="playerListContainer shadow" *ngIf="showList" id="playerSelect">
    <div class="searching" id="playerSearch">
      <div>
        <span>
          <i
            class="sicon fa fa-search fa-sm"
            style="color:white;margin-left:5%;"
          ></i>
          <input
            type="text"
            id="searchPlayerText"
            placeholder="  SEARCH"
            autocomplete="off"
            class="filterSearch"
            (input)="playerSearching($event.target.value)"
          />
        </span>
      </div>
    </div>
    <div class="playerList ">
      <div
        id="playerList"
        class=""
        (click)="changePlayer(player.key, player.value)"
        *ngFor="
          let player of filterService.playersToDisplay
            | keyvalue: filterService.labelOrder
        "
      >
        <div class="" style="">
          <img
            class="grid-itemGen"
            src="{{ filterService.playerImageURLs[player.key] }}"
            onError="this.onerror=null;this.src='https://sail-bucket.s3-us-west-2.amazonaws.com/Player_Images/Blank_Player4.png'"
            alt=""
          />
        </div>
        <div class="labelText ">&nbsp;&nbsp;{{ player.value.Label }}</div>
      </div>
    </div>
  </div>

  <div class="yearListAll shadow" id="yearList" *ngIf="showYear">
    <div
      class="yearDropDown"
      *ngFor="let year of filterService.portalYearsList"
      (click)="filterService.toggleYearsSelected(year)"
      [ngStyle]="filterService.setStyleYearSelect(year)"
      id="{{ year }}yearSelect"
    >
      {{ year }}
    </div>
  </div>
</div>
<div
  style="display: flex;border-bottom: 1px solid black; border-top: 1px solid black;"
>
  <div class="linkBar">
    <div
      class="topLink"
      *ngFor="
        let cat of filterService.getReportHeaders(3) | keyvalue: body.valueOrder
      "
      id="{{ cat.key }}playerBarHighlightid"
      (click)="subRoute(cat.key)"
    >
      {{ cat.value.Label }}
    </div>
  </div>
  <div
    class="fullScreenInactive"
    id="fullScreenButton"
    (click)="filterService.fullScreenOn()"
  >
    <i class="fa fa-window-maximize fa-sm"></i>
  </div>
</div>

<router-outlet></router-outlet>
