<div class="topBar">
  <!-- <div class="player" (click)="displayPlayers(showList)">
    <img
      class="imgLogo tableCenter"
      [src]="getActivePlayerImage(filterService.playerPortalActivePlayerID)"
      onError="this.src='https://sail-bucket.s3-us-west-2.amazonaws.com/Player_Images/Blank_Player.jpg'"
    />
    <div class="playerText">
      &nbsp;&nbsp;{{ filterService.playerPortalSelected.Label }}
    </div>
    <div class="tableCenter" style="display: inline; float: right;">
      <i class="fa fa-angle-down fa-lg"></i>
    </div>
  </div> -->
  <!-- <div class="playerInfo" (click)="displayPlayers(showList)">
    <img
      class="imgLogoNew tableCenter"
      [src]="getActivePlayerImage(filterService.playerPortalActivePlayerID)"
      onError="this.src='https://sail-bucket.s3-us-west-2.amazonaws.com/Player_Images/Blank_Player.jpg'"
    />
    <div class="playerDisplayTextContainer">

    </div>
  </div> -->
  <div style="width: 98%;">
    <div class="g-profile">
      <div class="g-profile__grid overflow-hidden">
        <div class="g-profile__profile">
          <img
            [src]="
              getActivePlayerImage(filterService.playerPortalActivePlayerID)
            "
            class="g-profile__photo"
          />
          <div class="g-profile__team-color"></div>
          <!--             style="background-color: rgb(0, 103, 120); border-right-color: rgb(215, 162, 42);"
 -->
        </div>
        <div class="g-profile__identity">
          <div style="display: flow-root;">
            <div style="float: left; width: 400px;">
              <h2
                class="g-profile__name"
                style="float: left;    max-width: 400px;
                float: left;
                text-overflow: ellipsis !important;
                overflow: hidden !important;
                white-space: nowrap;"
                (click)="displayPlayers(showList)"
              >
                {{ filterService.playerPortalSelected.Label
                }}<i class="fa fa-angle-down fa-lg"></i>
              </h2>
            </div>
            <div
              #teamAndRosterStaturs
              class="din"
              style="float: left; display: flex; width: 200px;"
            >
              <img
                [src]="
                  getActiveLogo({
                    ClubCityName: 'Oakland',
                    ClubNickName: 'Raiders'
                  })
                "
                style="max-height:34px;max-width: 34px;"
              />
              <span
                style="line-height: 35px; margin-left: 6px; font-weight: bold;"
              >
                Active - Raiders
              </span>
            </div>
            <div #draftInfo class="din" style="float: left; display: flex;">
              <span class="g-profile__bio-element"
                ><span class="g-label g-mb-1">Draft</span
                ><span class="g-data"
                  >2013: 5/186 - Jacksonville (Compensatory)</span
                ></span
              >
            </div>
            <div
              id="year"
              class=""
              style="float: right; display: flex; margin-top: 5px;"
              (click)="showYearList()"
            >
              <div
                id="year"
                class=""
                *ngIf="filterService.portalYearsOnly.length > 0"
              >
                {{ filterService.getYearDisplay() }} &nbsp;
              </div>
              <div
                id="year"
                class=""
                *ngIf="filterService.portalYearsOnly.length == 0"
              >
                Year &nbsp;
              </div>

              <i id="year" class="fa fa-angle-down fa-lg"></i>
            </div>
          </div>
          <!-- <div class="g-profile__team-info" style="display: none;">
            <p class="g-profile__position">LB #44</p>
            <div class="g-profile__team" style="">
              <a class="qa-TeamLink g-profile__link" href="">
                 <svg
                  class="kyber-svg kyber-svg-jacksonville-jaguars g-svg g-svg-jacksonville-jaguars g-profile__team-logo"
                  viewBox="0 0 256 256"
                >
                  <use xlink:href="#g-icon-jacksonville-jaguars"></use></svg> 
                Jacksonville Jaguars</a
              >
            </div>
          </div> -->
        </div>
        <div class="g-profile__bio-container" style="display:flex">
          <div style="float:left;width:200px; font-weight: bold;">
            <div>
              P - UCLA
            </div>
            <div>
              #12
            </div>
          </div>
          <div class="g-profile__bio" style=" width: 400px ; float: left;">
            <!-- <span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">DOB</span
              ><span class="g-data"
                >1995-09-03 <small class="text-muted">(24)</small></span
              ></span
            > -->
            <span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Height</span
              ><span class="g-data">6012</span></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Weight</span
              ><span class="g-data">244</span></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Speed</span
              ><span class="g-data">4.90</span></span
            >
            <span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Arm</span
              ><span class="g-data">3218</span></span
            >
          </div>
          <div
            #birthInfo
            class="din"
            style="float: left; display: flex; padding-top:8px; width: 160px"
          >
            <span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Birth Date</span
              ><span class="g-data">10/07/1991 (28.1)</span></span
            >
          </div>
          <div
            #agentInfo
            class="din"
            style="float: left; display: flex; padding-top:8px; width: 250px"
          >
            <span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Agent</span
              ><span class="g-data"
                >Joel Segal - Lagarderra Unlimited</span
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="playerList shadow" *ngIf="showList">
    <div
      class="player"
      style="border-bottom: 1px solid black; margin-right: 0px !important;     display: grid;
        grid-template-columns: 80px 1fr;"
      (click)="changePlayer(player.key, player.value)"
      *ngFor="
        let player of getPlayers(filterService.pullValueMap['3']) | keyvalue
      "
    >
      <img
        class="imgLogo tableCenter"
        src="{{ getActivePlayerImage(player.key) }}"
        onError="this.onerror=null;this.src='https://sail-bucket.s3-us-west-2.amazonaws.com/Player_Images/Blank_Player.jpg'"
        alt=""
      />
      <div class="playerText">&nbsp;&nbsp;{{ player.value.Label }}</div>
    </div>
  </div>
  <!-- <div class="yearContainer" (click)="showYearList()">
    <div class="yearLabel" *ngIf="filterService.portalYearsOnly.length > 0">
      {{ filterService.getYearDisplay() }}
    </div>
    <div class="yearLabel" *ngIf="filterService.portalYearsOnly.length == 0">
      Year
    </div>
  </div>
  <div
    class="tableCenter yearArrow"
    id="yearSelectArrow"
    (click)="showYearList()"
  >
    <i class="fa fa-angle-down fa-lg"></i>
  </div> -->
  <div class="yearListAll shadow" id="yearList" *ngIf="showYear">
    <div
      class="yearDropDown"
      *ngFor="let year of filterService.portalYearsList"
      (click)="filterService.toggleYearsSelected(year)"
      [ngStyle]="filterService.setStyleYearSelect(year)"
      id="{{ year }}yearSelect"
    >
      {{ year }}
    </div>
  </div>
</div>
<div class="linkBar">
  <div
    class="topLink"
    *ngFor="
      let cat of filterService.getReportHeaders(3) | keyvalue: body.valueOrder
    "
    id="{{ cat.key }}playerBarHighlightid"
    (click)="subRoute(cat.key)"
  >
    {{ cat.value.Label }}
  </div>
</div>

<router-outlet></router-outlet>
<!-- <div style="width: 98%;">
    <div class="g-profile">
      <div class="g-profile__grid overflow-hidden">
        <div class="g-profile__profile">
          <img
            [src]="
              getActivePlayerImage(filterService.playerPortalActivePlayerID)
            "
            class="g-profile__photo"
          />
          <div class="g-profile__team-color"></div>
        </div>
        <div class="g-profile__identity">
          <div style="display: flow-root;">
            <h2
              class="g-profile__name"
              style="float: left;"
              (click)="displayPlayers(showList)"
            >
              {{ filterService.playerPortalSelected.Label
              }}<i class="fa fa-angle-down fa-lg"></i>
            </h2>
            <div
              class=""
              style="float: right; display: flex;"
              (click)="showYearList()"
            >
              <div class="" *ngIf="filterService.portalYearsOnly.length > 0">
                {{ filterService.getYearDisplay() }} &nbsp;
              </div>
              <div class="" *ngIf="filterService.portalYearsOnly.length == 0">
                Year &nbsp;
              </div>

              <i class="fa fa-angle-down fa-lg"></i>
            </div>
          </div>
          <div class="g-profile__team-info" style="display: none;">
            <p class="g-profile__position">LB #44</p>
            <div class="g-profile__team" style="">
              <a class="qa-TeamLink g-profile__link" href="">
             <svg
                  class="kyber-svg kyber-svg-jacksonville-jaguars g-svg g-svg-jacksonville-jaguars g-profile__team-logo"
                  viewBox="0 0 256 256"
                >
                  <use xlink:href="#g-icon-jacksonville-jaguars"></use></svg> 
                Jacksonville Jaguars</a
              >
            </div>
          </div>
        </div>
        <div class="g-profile__bio-container">
          <div class="g-profile__bio">
            <span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">DOB</span
              ><span class="g-data"
                >1995-09-03 <small class="text-muted">(24)</small></span
              ></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Height</span
              ><span class="g-data">6'1"</span></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Weight</span
              ><span class="g-data">244</span></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Speed</span
              ><span class="g-data">4.90</span></span
            >
            <span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">College</span
              ><span class="g-data">UCLA Bruins</span></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Draft Year</span
              ><span class="g-data">2016</span></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Draft Team</span
              ><span class="g-data"
                ><a class="qa-TeamLink g-profile__link" href=""
                  >Jacksonville Jaguars</a
                ></span
              ></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Round</span
              ><span class="g-data">2</span></span
            ><span class="g-profile__bio-element"
              ><span class="g-label g-mb-1">Selection</span
              ><span class="g-data">36</span></span
            >
          </div>
        </div>
      </div>
    </div>
  </div> -->
