.fontDIN {
  font-family: "DIN-Regular";
}
.rightSide,
.leftSide {
  padding: 5px;
}
.activeTradesContainer,
.tradeHistoryContainer,
.activeTradeContainer,
.highTradeContainer,
.lowTradeContainer,
.mediumTradeContainer,
.tradeContainer {
  padding: 5px 10px;
  margin: 10px;
  border: 2px solid #f0f2f5;
  min-height: 75px;
}
.lowTradeContainer,
.mediumTradeContainer,
.highTradeContainer {
  line-height: 75px;
}
.countersContainer {
  margin: 0 10px 10px;
  border: 2px solid #f0f2f5;
  padding: 0px 10px;
}
.overallContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  margin: 0px 10px;
}

.activeTradesContainer {
  max-height: 335px;
  min-height: 335px;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
}
.tradeHistoryContainer {
  max-height: 293px;
  overflow-y: auto;
  min-height: 293px;
  margin-top: 0;
}

.tradeOptionHistory {
  display: grid;
  grid-template-columns: 35% 35% 10% 10% 10%;
  height: 65px;
  padding: 5px 0px;
}
.tradeOptionLabels {
  display: grid;
  grid-template-columns: 35% 35% 10% 10% 10%;
  background-color: #5c5c5c;
  color: white;
  margin: 0px 10px;
}
.raidersTrading {
  padding-left: 5px;
}
.raidersReceiving {
  padding-left: 5px;
  border-left: 1px solid black;
}

.numberTrade {
  text-align: center;
  border-left: 1px solid black;
}
.numberTradeHeader {
  text-align: center;
  line-height: 55px;
}
.imageContainer,
.tradeNegotiationOfferTextContainer {
  text-align: center;
  display: flex;
  min-height: 51px;
}
.tradeImage {
  max-height: 43px;
  z-index: 2;
  padding: 4px;
  margin: auto;
}
.negotiationMainText {
  margin: auto 0px;
  font-size: 26px;
}
.negotiationInfoText,
.offerInfoText {
  margin: auto 0px;
}
.offerPointText {
  margin: auto 0;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
.counterInfoText {
  background-color: #f0f2f5;
  font-size: 20px;
  font-weight: 400;
  margin: auto 0;
  text-align: left;
  min-height: 49px;
  display: grid;
  padding-left: 15px;
  border-radius: 0 5px 5px 0;
}
.offerTextContainer {
  display: grid;
  grid-template-columns: 88% 12%;
}
.tradeNegotiationOfferText {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  margin: auto 0;
  text-align: left;
  display: grid;
  grid-template-columns: 35% 65%;
}
.negotiation {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  background-color: #f0f2f5;
  min-height: 55px;
  max-height: 55px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  font-family: "DIN-Regular";
}
.negotiation:hover {
  cursor: pointer;
}
.activeOffer {
  background-color: #5fb1e3;
}

.bgGrey {
  background-color: #e3e3e3;
}
.bgRed {
  background-color: #ffe1e1;
}
.bgGreen {
  background-color: #ebffeb;
}
.singleOffer {
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  background-color: #e1e1e1;
  min-height: 51px;
  max-height: 51px;
  font-weight: 400;
  font-size: 21px;
  font-family: "DIN-Regular";
}
.counterOffer {
  padding: 5px;
  /* margin-top: 2px; */
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  min-height: 49px;
  max-height: 49px;
  font-weight: 700;
  font-size: 18px;
  font-family: "DIN-Regular";
}
.singleOffer:hover {
}

.header {
  text-align: center;
  background-color: #f0f2f5;
  color: #000;
  width: calc(100% - 20px);
  margin: 0 10px;
  font-weight: 700;
  padding-top: 3px;
}

.tradeOfferHistoryHeader {
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.teamsPicksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #f0f2f5;
  margin: 0 10px;
  grid-column-gap: 5px;
  min-height: 475px;
}
.teamPickContainer {
  margin: 5px 20px;
}
.teamHeader {
  background-color: grey;
  min-height: 30px;
  border-radius: 15px;
  margin-bottom: 5px;
  max-height: 35px;
}
.teamHeaderText {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
.picksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid black; */
}
.singlePick {
  border-radius: 4px;
  text-align: left;
  margin-left: 5px;
}
.pickValue {
  background-color: rgba(80, 80, 80, 0.65);
  text-align: center;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  height: 25px;
}
.counterValue {
  margin: auto 0;
  font-size: 30px;
  text-align: center;
  color: #fff;
  min-height: 49px;
  border-radius: 5px 0 0 5px;
  background-color: #000;
  line-height: 49px;
}
.pick {
  font-size: 18px;
}
.pick {
  text-align: center;
  height: 25px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  line-height: 25px;
  background-color: #f0f2f5;
  border-radius: 5px;
  margin: 5px;
}
.pickSingle {
  width: 100%;
  text-align: center;
  height: 24px;
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr;
  line-height: 24px;
}
.yearLabel {
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  text-decoration: underline;
}
.pickDivs {
  min-height: 292px;
  max-height: 470px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px;
}

.negotiationTitleBar {
  border-radius: 5px;
  color: white;
  display: grid;
  font-family: "DIN-Regular";
  grid-template-columns: 0.5fr 1fr 0.5fr;
}
.titleBarTradeTeamName {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin: auto;
}
.titleBarNegotiationInfo {
  text-align: right;
  margin: auto 0px;
}
.mainPicksDirection {
  font-weight: bold;
  font-size: 21px;
  margin-right: 10px;
  margin-top: 5px;
}
.mainPickValueDiff {
  font-size: 17px;
  margin-right: 10px;
}
.titleBarContainer {
  left: 10px;
  position: relative;
  padding: 5px 29px 0px 0px;
}
