<div class="overallContainer">
  <div class="leftSide">
    <div class="header tradeOfferHistoryHeader">Suggested Counters</div>

    <div class="highTradeContainer bgGreen">
      {{ highTrade }}
    </div>
    <div class="mediumTradeContainer bgGrey">
      {{ mediumTrade }}
    </div>
    <div class="lowTradeContainer bgRed">{{ lowTrade }}</div>
    <div class="header tradeOfferHistoryHeader">Offer</div>

    <div class="teamsPicksContainer">
      <div class="teamPickContainer" id="raidersPicks">
        <div class="teamHeader">
          <div class="imageContainer">
            <img
              id=""
              [src]="tradeTool.getActiveLogo(tradeTool.raiders)"
              class="tradeImage"
            />
          </div>
        </div>
        <div class="picksContainer">
          <div class="pickYear">
            <div class="yearLabel">{{ tradeTool.year }}</div>
            <div class="pickDivs">
              <ng-container
                *ngFor="
                  let pick of tradeTool.teamToPickIDs[
                    tradeTool.raiders['SailTeamID']
                  ]
                "
              >
                <div
                  *ngIf="
                    tradeTool.pickIDToPick[pick]['Season'] == tradeTool.year
                  "
                  class="pickSingle"
                >
                  {{ tradeTool.pickIDToPick[pick]["PickLabel"] }}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="pickFutureYear">
            <div class="yearLabel">{{ tradeTool.year + 1 }}</div>
            <div class="pickDivs">
              <ng-container
                *ngFor="
                  let pick of tradeTool.teamToPickIDs[
                    tradeTool.raiders['SailTeamID']
                  ]
                "
              >
                <div
                  *ngIf="
                    tradeTool.pickIDToPick[pick]['Season'] == tradeTool.year + 1
                  "
                  class="pickSingle"
                >
                  {{
                    tradeTool.pickIDToPick[pick]["PickLabel"]
                      .split("FROM ")
                      .join("")
                  }}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="teamPickContainer">
        <div class="teamHeader">
          <div class="imageContainer">
            <img
              *ngIf="firstSelectionMade"
              id=""
              [src]="tradeTool.getActiveLogo(filterService.teamPortalSelected)"
              class="tradeImage"
            />
          </div>
        </div>
        <div class="picksContainer">
          <div class="pickYear">
            <div class="yearLabel">{{ tradeTool.year }}</div>
            <div class="pickDivs">
              <ng-container
                *ngFor="
                  let pick of tradeTool.teamToPickIDs[
                    filterService.teamPortalActiveClubID
                  ]
                "
              >
                <div
                  *ngIf="
                    firstSelectionMade &&
                    filterService.teamPortalActiveClubID != '1012' &&
                    tradeTool.pickIDToPick[pick]['Season'] == tradeTool.year
                  "
                  class="pickSingle"
                >
                  {{ tradeTool.pickIDToPick[pick]["PickLabel"] }}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="pickFutureYear">
            <div class="yearLabel">{{ tradeTool.year + 1 }}</div>
            <div class="pickDivs">
              <ng-container
                *ngFor="
                  let pick of tradeTool.teamToPickIDs[
                    filterService.teamPortalActiveClubID
                  ]
                "
              >
                <div
                  *ngIf="
                    firstSelectionMade &&
                    filterService.teamPortalActiveClubID != '1012' &&
                    tradeTool.pickIDToPick[pick]['Season'] == tradeTool.year + 1
                  "
                  class="pickSingle"
                >
                  {{
                    tradeTool.pickIDToPick[pick]["PickLabel"]
                      .split("FROM ")
                      .join("")
                  }}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rightSide">
    <div class="header tradeOfferHistoryHeader">Negotiation History</div>
    <div class="tradeHistoryContainer">
      <ng-container
        *ngFor="
          let offer of displayingOffers
            | keyvalue: filterService.reverseKeyOrder;
          first as isFirst
        "
      >
        <div class="singleOffer" [ngStyle]="getActiveBackground(isFirst)">
          {{ offer.value["TradeText"] }}
        </div>
      </ng-container>
    </div>
    <div class="header tradeOfferHistoryHeader">Active Offers</div>
    <div class="activeTradesContainer">
      <ng-container
        *ngFor="
          let negotiation of negotiationsMap
            | keyvalue: filterService.valueOrder
        "
      >
        <div
          *ngIf="
            negotiation.value['ActiveOfferID'] > 0 && filterService.teamsMap
          "
          class="negotiation"
          (click)="selectNegotiation(negotiation.key)"
          [ngStyle]="getNegotiationBackground(negotiation.key)"
        >
          <div class="imageContainer">
            <img
              id=""
              [src]="
                tradeTool.getActiveLogo(
                  filterService.teamsMap[negotiation.value['TradeTeamID']]
                )
              "
              class="tradeImage"
            />
          </div>
          <div class="tradeNegotiationOfferTextContainer">
            <div class="tradeNegotiationOfferText">
              {{ offersMap[negotiation.value.ActiveOfferID].TradeText }} 
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
