ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  /* background-color: #3e4345; */
  border-bottom: 1px solid var(--color-black);
  border-top: 1px solid var(--color-black);
  /* position: fixed; */
  top: 0;
  width: 100%;
}
.leftBG {
  background-image: url(../../assets/Site_header_leftV4.png);
  width: 434px;
  min-width: 434px;
  height: 50px;
  min-height: 50px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  border-top: 1px solid black;
}
.leftBG:hover {
  cursor: pointer;
}
.rightBG {
  background-image: url(../../assets/Site_header_rightV3.png);
  width: calc(100% - 428px);
  min-width: 303px;
  height: 51px;
  min-height: 51px;
  background-position: left;
  background-size: contain;
  background-repeat: repeat;
  position: absolute;
  left: 428px;
  border-top: 1px solid black;
}
.topbuttonleft {
  margin-left: 5px;
  float: left;
  color: var(--color-black);
  text-align: center;
  padding-left: 10px;
}
.topFloatLeft {
  float: left;
  color: var(--color-black);
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}
.navheight {
  color: black;
  height: 50px !important;
}
.usertext {
  /* border-left: 2px solid var(--raiders-gray); */
  padding-left: 10px;
  font-size: 25px;
  font-family: "DIN-Regular";
  line-height: 55px !important;
}
.mright {
  margin-right: 5px;
}
.nav {
  position: fixed;

  display: inline-block;
}
.filterLabel {
  color: white;
  font-family: "DIN-Regular";
  font-weight: bold;
  font-size: 22px;
  margin-left: 160px;
  margin-top: 11px;
}
.AL {
  width: auto;
  display: flex;
  position: absolute;
  margin-left: 140px;
  margin-top: 9px;
}
.ALName {
  width: 62px;
  font-size: 12px;
  margin-top: 3px;
}
.raiders {
  float: left;
  color: black;
  /* color: #3e4345; */
  position: relative;
  left: -256px;
  font-size: 36px;
  font-weight: bold;
}
.XOSbutton {
  float: right;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--raiders-gray);
  font-size: 18px;
  line-height: 32px;
}
.XOSbutton:hover {
  cursor: pointer;
  background-color: #5e6366;
}
.colo {
  color: black;
}
.settingsMenuDropDown {
  margin-right: 10px;
  line-height: 0px;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.settingsOption {
}
.filterSearchG {
  background: transparent;
  font-size: 18px;
}
.filterSearchG:hover {
  cursor: pointer;
}
.filterSearchG:focus {
  border: none;
  outline: none;
}
.filterSearchG::placeholder {
  color: black;
  font-size: 18px;
  font-family: "DIN_Rounded_Medium";
}
.searchingTop {
  position: relative;
  /* background: #3e4345; */
  margin-bottom: 8px;
  border-radius: 5px;
  height: 26px;
  border: 1px solid #3e4345;
  top: 19px;
  color: black;
  line-height: 30px;
  font-family: "DIN-Regular";
}
.searchingTop input {
  height: 28px;
  margin: 0;
  padding: 0;
  width: 81%;
  margin-left: 4%;
  border: none;
  caret-color: black;
  color: black;
}
.gSearchBlock {
  color: black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: var(--raiders-gray);
  list-style-type: none;
  position: relative;
  display: flex;
  width: 100%;
  height: 25px;
  margin-left: 10%;
  line-height: 25px;
  align-content: center;
  text-align: right;
}
.gSearchBlock:hover {
  background-color: var(--lighter-blue);
  color: var(--color-white);
}
.suggestionList {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  text-align: center;
}
.menuSettings {
  width: 200px;
  border: 1px solid black;
  position: absolute;
}
.menuButton:hover {
  background-color: #c8c8c8;
  cursor: pointer;
}
