<nav class="navbar navbar-fixed-top top" routerLinkActive="active">
  <ul class="nav navbar-nav navheight">
    <div
      class="leftBG"
      (click)="filterService.goToLink('http://oakcmsreports01.raiders.com:88')"
    ></div>
    <div class="rightBG">
      <div style="float:right; margin-top: 7px;">
        <!-- <i
          class="fa colo fa-envelope fa-sm mright"
          style="line-height: 48px;"
        ></i> -->

        <div
          style="width:auto;float: right; line-height: 55px;"
          class="navheight"
        >
          <!-- <span class="usertext mright">
            {{ allUsers[0].firstName }} {{ allUsers[0].lastName }}
          </span> -->
          <div class="menuButton" style="display:contents">
            <i
              class="fa fa-bars fa-lg settingsMenuDropDown"
              (click)="filterService.toggleTopMenuDropDown()"
            ></i>
            <!-- (mouseenter)="filterService.toggleTopMenuDropDown()" -->
          </div>
        </div>
      </div>
      <div
        class="searchingTop"
        style="width:275px; float:right;margin-right: 10px; "
      >
        <div>
          <span
            style="position: absolute;
          top: -1px !important;"
          >
            <i
              class="sicon fa fa-search fa-sm"
              style="color:black;margin-left:5%;"
            ></i>
            <input
              type="text"
              id="searchGlobalText"
              placeholder="  Search"
              autocomplete="off"
              (keyup.enter)="searching($event.target.value)"
              class="filterSearchG"
            />
          </span>
          <!-- (input)="searching($event.target.value)" -->
        </div>
      </div>
    </div>
  </ul>
</nav>

<!-- <div class="settingsOption">
            Report Upload
          </div> -->
<!-- <div
      class="filterLabel topbuttonleft"
      *ngIf="filterService.getNamePresent()"
    >
      <i class="fa fa-eye fa-md"></i>
      Filter Name:
      {{ filterService.getName() }}
      <span *ngIf="filterService.modifiedStatus()"> (unsaved)</span>
    </div> -->
<!-- 
          <button mat-menu-item (click)="onCreate()">
            <i class="fa fa-youtube-play fa-sm mright"></i>
            <span>Video Settings</span>
          </button>
          <button mat-menu-item (click)="onCreate()">
            <i class="fa fa-question-circle fa-sm mright"></i>
            <span>FAQ</span>
          </button> -->
<!-- <mat-menu #menu="matMenu" xPosition="before">
              <button
                mat-menu-item
                (click)="openFolderSelect()"
                disableRipple="True"
              >
                <i class="fa fa-gears fa-sm mright"></i>
                <span>User Setting</span>
              </button>
        
              <button mat-menu-item (click)="openReportUpload()">
                <i class="fa fa-upload fa-sm mright"></i>
                <span>Report Upload</span>
              </button>
            </mat-menu> -->
