.area {
  overflow-y: scroll !important;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 107px);
  height: auto;
  background-image: url(../../assets/Upshaw_BGV3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.area::-webkit-scrollbar {
  width: 0 !important;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 160px));

  padding-right: 35px;

  padding-left: 35px;
  grid-row-gap: 10px;
  grid-column-gap: 35px;
  border-radius: 10px;
}
.grid-itemGen {
  border-radius: 10px;
  height: 160px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "DIN";
  text-align: left;
  background-color: #ebeced;
  margin-top: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.grid-itemGen:hover {
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
  text-shadow: 0px 0px 6px var(--color-white);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.97);
  -mox-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.97);
  transition: all 0.2s ease 0s;
}
.labelText {
  margin-top: 4px;
  font-size: 16px;
  font-family: "DIN";
  text-align: center;
}
