<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="overallDiv">
  <div id="reportsSideNav" class="sidenav">
    <div class="group">
      <div
        class="category"
        routerLink="../base-reports"
        (click)="toggleContents(0)"
      >
        REPORTS
      </div>

      <div
        *ngFor="
          let cat of filterService.getReportHeaders(1) | keyvalue: filterService.valueOrder
        "
        class="sidebutton"
        id="{{ cat.key }}reportHighlightid"
        (click)="toggleContents(cat.key)"
      >
        {{ cat.value.Label }}
      </div>
    </div>

    <div class="portalSection">
      <div class="group">
        <div class="category" style="padding-top: 20px;">
          PORTALS
        </div>
        <div
          *ngFor="let port of portals"
          id="{{ port }}id"
          class="sidebutton"
          (click)="portalHighlight(port)"
        >
          {{ port }}
        </div>
        <div>
          
        </div>
      </div>
    </div>
  </div>

  <router-outlet style="float:left"></router-outlet>
</div>
