<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="overallDiv">
  <div id="reportsSideNav" class="sidenav">
    <div class="group">
      <div
        class="category"
        routerLink="../base-reports"
        (click)="reportsRehighlight()"
      >
        REPORTS
      </div>

      <div
        *ngFor="
          let cat of filterService.getReportHeaders(1) | keyvalue: valueOrder
        "
        class="sidebutton"
        id="{{ cat.key }}reportHighlightid"
        (click)="toggleContents(cat.key)"
      >
        {{ cat.value.Label }}
      </div>
    </div>

    <div class="XOSSection">
      <div class="group">
        <div class="category" style="padding-top: 20px;">
          PORTALS
        </div>
        <div
          *ngFor="let port of portals"
          id="{{ port }}id"
          class="sidebutton"
          (click)="portalHighlight(port)"
        >
          {{ port }}
        </div>
        <div>
          
        </div>
      </div>
    </div>
  </div>

  <router-outlet style="float:left"></router-outlet>
</div>
<!-- <div class="XOSSection">
        <div class="group">
          <div class="category">
            Tools
          </div>
          <div (click)="XOSExport()" class="sidebutton">
            XOS Export
          </div>
          <div class="searching" *ngIf="noFolderAlert">
            <div class="alert">
              <i class="fa fa-exclamation-triangle fa-sm"></i>
              Select Folder Please!
            </div>
          </div>
          <div (click)="selectFolderXos()" class="sidebutton">
            {{ location }}
            <i id="xosIco" class="fa fa-search space"></i>
          </div>
          <div (click)="selectSavedFilter()" class="sidebutton">
            Import Filter
          </div>
        </div>
      </div> -->
