<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<app-filter-bar></app-filter-bar>
<div class="overallDiv">
  <div style="display:flex">
    <div id="reportsSideNav" class="sidenav">
      <div class="group">
        <div class="category">
          Categories
        </div>

        <div
          *ngFor="let cate of ReportListService.listOfReports"
          class="sidebutton"
          id="{{ cate[0] }}id"
          (click)="toggleContents(cate[0])"
        >
          <i id="{{ cate[0] }}idicon" class="fa fa-circle-thin ico"></i>
          {{ cate[0] }}
        </div>
      </div>
      <div class="XOSSection">
        <div class="group">
          <div class="category">
            Tools
          </div>
          <div (click)="XOSExport()" class="sidebutton">
            XOS Export
          </div>
          <div class="searching" *ngIf="noFolderAlert">
            <div class="alert">
              <i class="fa fa-exclamation-triangle fa-sm"></i>
              Select Folder Please!
            </div>
          </div>
          <div (click)="selectFolderXos()" class="sidebutton">
            {{ location }}
            <i id="xosIco" class="fa fa-search space"></i>
          </div>
          <div (click)="selectSavedFilter()" class="sidebutton">
            Import Filter
          </div>
        </div>
      </div>
    </div>

    <Div class="area">
      <div
        *ngFor="let cat of ReportListService.listOfReports"
        id="{{ cat[0] }}"
      >
        <div class="grid-container">
          <div
            *ngFor="let repo of cat[2] | keyvalue"
            class="grid-itemGen item"
            routerLink="../report"
            (click)="changeReportType(repo.value)"
          >
            {{ repo.key }}
          </div>
        </div>
      </div>
    </Div>
  </div>
</div>
