<div class="topBar">
  <div class="team" (click)="displayTeams(showList)">
    <img
      class="imgLogo tableCenter"
      [src]="getActiveLogo(filterService.teamPortalSelected)"
    />
    <div class="teamText">
      &nbsp;&nbsp;{{ getCityName(filterService.teamPortalSelected) }}
      {{ filterService.teamPortalSelected[ClubNickName] }}
    </div>
    <div class="tableCenter" style="display: inline; float: right;">
      <i class="fa fa-angle-down fa-lg"></i>
    </div>
  </div>
  <div class="teamList" *ngIf="showList">
    <div
      class="team"
      style="border-bottom: 1px solid black; margin-right: 0px !important;     display: grid;
      grid-template-columns: 80px 1fr;"
      (click)="changeTeam(team)"
      *ngFor="let team of filterService.teams"
    >
      <img class="imgLogo tableCenter" [src]="getActiveLogo(team)" />
      <div class="teamText">
        &nbsp;&nbsp;{{ getCityName(team) }}
        {{ team[ClubNickName] }}
      </div>
    </div>
  </div>
  <ng-multiselect-dropdown
    [placeholder]="'Year'"
    [data]="filterService.portalYearsList"
    [(ngModel)]="filterService.portalYearsSelected"
    [settings]="filterService.portalYearDropDownSettings"
    (onDropDownClose)="filterService.portalYearDropDownClose()"
    class="yearSelect"
    id="yearSelect"
  >
  </ng-multiselect-dropdown>
  <div class="tableCenter yearArrow" id="yearSelectArrow">
    <i class="fa fa-angle-down fa-lg"></i>
  </div>
  <div
    class="topLink"
    *ngFor="let cat of filterService.getReportHeaders(2) | keyvalue: valueOrder"
    id="{{ cat.key }}clubBarHighlightid"
    (click)="subRoute(cat.key)"
  >
    {{ cat.value.Label }}
  </div>
</div>

<router-outlet></router-outlet>
