<div style="overflow-y: scroll;height: 853px;">
  <div class="leftSide">
    <div class="depthchartContainer">
      <ng-container *ngFor="let bin of allBins">
        <div
          class="posContainer"
          *ngIf="bin.id > 0"
          [ngStyle]="depthLocationStyle(bin.id)"
        >
          <div class="posHeader">{{ bin.label }}</div>

          <div
            cdkDropList
            id="{{ bin.id }}"
            [cdkDropListData]="bin.players"
            [cdkDropListConnectedTo]="connectedPositionLists"
            class="item-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="item-box"
              *ngFor="let player of bin.players"
              [innerHTML]="
                player['DepthHTML'].replace('12px;', '12px;width:100%;') +
                  ' ' +
                  player['CashValue'] | safehtml
              "
              cdkDrag
              (click)="editValue($event, bin.id, player)"
            ></div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="rightSide">
    <div>Cap &nbsp; - &nbsp;{{ cap }} &nbsp;</div>
    <div class="capInfo">
      <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
        <div style=" float:left" *ngFor="let sum of cashSums | keyvalue">
          <span style="float:left">{{ sum.value.label }} - &nbsp;</span>
          <span style="float:left">
            <ng-container *ngIf="sum.key <= 0">
              {{ sum.value.total | number: "1.1-1" }}
            </ng-container>

            <ng-container *ngIf="sum.key > 0">
              {{ this.math.floor(sum.value.total) }}
            </ng-container>
          </span>
        </div>
      </div>
      <div>
        <div *ngFor="let operation of logOfMoves | keyvalue: valueOrder">
          <span *ngIf="operation.value.type == 0"> Cut </span>
          <span *ngIf="operation.value.type == 1"> Sign </span>
          <span *ngIf="operation.value.type == 2"> Move </span>
          <span *ngIf="operation.value.type == -1"> ERROR </span>
          <span *ngIf="operation.value.type == 3"> Depth Change </span>
          &nbsp;-&nbsp;
          {{ operation.value.item.DepthHTML }}&nbsp;({{
            cashSums[operation.value.item.BinID].label
          }}&nbsp;{{ operation.value.item.OrderID }})
        </div>
      </div>
      <div style="position: absolute; bottom:0; width: 100%">
        <ng-container *ngFor="let pos of allBins">
          <div class="posContainer UFAContainer" *ngIf="pos.id == 0">
            <div class="posHeaderUFA" *ngIf="cashSums[0].total == 0">
              {{ pos.label }}
            </div>
            <div class="posHeaderUFA" *ngIf="cashSums[0].total != 0">
              {{ pos.label }} (+{{ cashSums[0]["total"] }})
            </div>

            <div
              cdkDropList
              id="{{ pos.id }}"
              [cdkDropListData]="pos.players"
              [cdkDropListConnectedTo]="connectedPositionLists"
              class="item-list"
              style="height:128px !important;"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="item-box"
                id="{{ player['SailID'] }}"
                *ngFor="let player of pos.players"
                cdkDrag
                [innerHTML]="
                  player['UfaHTML'].replace('12px;', '12px;width:100%;') +
                    ' ' +
                    player['CashValue'] | safehtml
                "
                (click)="editValue($event, pos.id, player)"
              ></div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="UFASelectionArea">
      <div class="posSelect">
        <ng-container *ngFor="let group of filterService.faHypoBins">
          <div
            *ngIf="group['BinID'] < 0"
            class="posButtons"
            (click)="changeView(group['BinID'])"
            [ngStyle]="highlightOrNot(group['BinID'])"
          >
            {{ group["BinLabel"] }}
          </div>
        </ng-container>
      </div>
      <div class="ufachartContainer">
        <ng-container *ngFor="let pos of allBins">
          <div class="posContainer UFAContainer" *ngIf="pos.id == ufaViewing">
            <div class="posHeaderUFA">{{ pos.label }}</div>

            <div
              cdkDropList
              id="{{ pos.id }}"
              [cdkDropListData]="pos.players"
              [cdkDropListConnectedTo]="connectedPositionLists"
              class="item-list"
              style="height:367px !important;"
              (cdkDropListDropped)="drop($event)"
              *ngIf="pos.id == ufaViewing"
            >
              <div
                class="item-box"
                id="{{ player['SailID'] }}"
                *ngFor="let player of pos.players"
                cdkDrag
                [innerHTML]="
                  player['UfaHTML'].replace('12px;', '12px;width:100%;') +
                    ' ' +
                    player['CashValue'] | safehtml
                "
                (click)="editValue($event, pos.id, player)"
              ></div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div id="editValueBox" *ngIf="editValueDisplay" class="editValueBox">
    <input
      id="editValueInput"
      [value]="editingValue"
      class="editValueInput"
      (input)="overrideValue($event.target.value)"
    />
  </div>
</div>

<!-- <div class="depthchartContainer">
  <div class="posContainer">
    <div class="posHeader">
      EDGE
    </div>
    <div class="playerDepth" *ngFor="let player of filterPlayers(['EDGE'])">
      &nbsp;{{ player["PlayerName"] }}
    </div>
  </div>
  <div class="posContainer">
    <div class="posHeader">
      WR
    </div>
    <div
      class="playerDepth"
      *ngFor="let player of filterPlayers(['OWR', 'SWR', 'WR'])"
    >
      &nbsp;{{ player["PlayerName"] }}
    </div>
  </div>
  <div class="posContainer">
    <div class="posHeader">
      CB
    </div>
    <div
      class="playerDepth"
      *ngFor="
        let player of filterPlayers(['CB', 'LCB', 'RCB', 'OCB', 'NCB', 'ICB'])
      "
    >
      &nbsp;{{ player["PlayerName"] }}
    </div>
  </div>
  <div class="posContainer">
    <div class="posHeader">
      QB
    </div>
    <div class="playerDepth" *ngFor="let player of filterPlayers(['QB'])">
      &nbsp;{{ player["PlayerName"] }}
    </div>
  </div>
  <div class="posContainer">
    <div class="posHeader">
      RB
    </div>
    <div
      class="playerDepth"
      *ngFor="let player of filterPlayers(['RB', 'HB', 'FB'])"
    >
      &nbsp;{{ player["PlayerName"] }}
    </div>
  </div>
</div>
<div class="UFAPlayers">
  <div
    class="playerDepth UFAPlayer"
    *ngFor="
      let player of filterPlayers([
        'OL',
        'C',
        'G',
        'OG',
        'OT',
        'LT',
        'RT',
        'LG',
        'RG'
      ])
    "
  >
    &nbsp;{{ player["PlayerName"] }}
  </div>
</div> -->

<!-- 
<div class="col-md-3" *ngFor="let week of weeks">
  <div class="drag-container">
    <div class="section-heading">Week {{ week.id }}</div>

    <div
      cdkDropList
      id="{{ week.id }}"
      [cdkDropListData]="week.weeklist"
      [cdkDropListConnectedTo]="connectedTo"
      class="item-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="item-box" *ngFor="let weekItem of week.weeklist" cdkDrag>
        Week {{ week.id }} {{ weekItem }}
      </div>
    </div>
  </div>
</div> -->
