<div style="overflow-y: scroll;height: 853px;">
  <div class="leftSide">
    <div class="depthchartContainer">
      <ng-container *ngFor="let bin of allBins">
        <div
          class="posContainer"
          *ngIf="bin.id > 0"
          [ngStyle]="depthLocationStyle(bin.id)"
        >
          <div class="posHeader">{{ bin.label }}</div>

          <div
            cdkDropList
            id="{{ bin.id }}"
            [cdkDropListData]="bin.players"
            [cdkDropListConnectedTo]="connectedPositionLists"
            class="item-list itemListMaxHeight125"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="item-box "
              *ngFor="let player of bin.players"
              id="{{ player['PlayerID'] }}"
              cdkDrag
              (click)="editValue($event, bin.id, player)"
            >
              <!-- [innerHTML]="
                player['LastName'] +
                ', ' +
                player['FirstName'] +
                ' ' +
                math.round(
                  (calcValueToUseAndDisplay(player) / 1000000 +
                    number.EPSILON) *
                    100
                ) /
                  100
              " -->
              <div
                class="DepthTopHalf"
                id="{{ player['PlayerID'] }}"
                [ngStyle]="DepthPlayerStyleTop(player)"
              >
                <div
                  [ngStyle]="depthBorderInsideTop(player)"
                  id="{{ player['PlayerID'] }}"
                >
                  &nbsp;
                  {{
                    math.round(
                      (calcValueToUseAndDisplay(player) / 1000000 +
                        number.EPSILON) *
                        100
                    ) / 100
                  }}
                </div>
                <div
                  [ngStyle]="depthBorderRightBlackBottomColor(player)"
                  id="{{ player['PlayerID'] }}"
                >
                  &nbsp; {{ player.FirstName[0] }}.&nbsp;

                  {{ player.LastName }}
                </div>
              </div>
              <div
                class="DepthBottonHalf"
                id="{{ player['PlayerID'] }}"
                [ngStyle]="DepthPlayerStyleBottom(player)"
              >
                <span
                  class="UFAVal"
                  [ngStyle]="depthBorderInsideBottom(player)"
                  id="{{ player['PlayerID'] }}"
                >
                  &nbsp;
                  {{
                    math.round(
                      (player.DeadMoney / 1000000 + number.EPSILON) * 100
                    ) / 100
                  }}
                </span>

                <span
                  id="{{ player['PlayerID'] }}"
                  class="UFAVal"
                  [ngStyle]="depthBorderInsideBottom(player)"
                >
                  &nbsp;
                  {{ player.Value2 }}
                </span>
                <span
                  id="{{ player['PlayerID'] }}"
                  class="UFAVal"
                  [ngStyle]="depthBorderInsideBottom(player)"
                >
                  &nbsp;{{ player.Value3 }}
                </span>
                <span
                  id="{{ player['PlayerID'] }}"
                  class="UFAVal"
                  [ngStyle]="depthBorderRightBlack(player)"
                >
                  &nbsp;{{ player.Value4 }}
                </span>
              </div>
            </div>
            <!-- [innerHTML]="
                player['DepthHTML'].replace('12px;', '12px;width:100%;') +
                  ' ' +
                  calcValueToUseAndDisplay(player) | safehtml
              " -->
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="rightSide">
    <div class="TopRow">
      <button class="topButton" (click)="saveScenario(1)">Save As</button>
      <button class="topButton" (click)="saveScenario(0)">Save</button>
      <button class="topButton" (click)="uploadScenario()">Upload</button>
      <button class="topButton" (click)="resetScenario()">Reset</button>
      <div class="viewScenario">Scenario : {{ name }}</div>
    </div>
    <div style="display: grid; grid-template-columns: 1fr  1fr;">
      <div>
        Player Count : &nbsp;
      </div>
      <div>
        {{ playerCount }}
      </div>
    </div>
    <div class="capInfo">
      <div style="display: grid; grid-template-columns: 1fr  1fr;">
        <ng-container *ngFor="let figure of calculationsValues | keyvalue">
          <div style=" float:left" *ngIf="figure.value.display == 1">
            <span style="float:left">{{ figure.value.Label }} : &nbsp;</span>
          </div>
          <div style=" float:left" *ngIf="figure.value.display == 1">
            <span style="float:left">
              {{ figure.value.Value / 1000000 | number: "1.1-3" }}
            </span>
          </div>
        </ng-container>
      </div>
      <!-- <div>
        <div *ngFor="let operation of logOfMoves | keyvalue: valueOrder">
          <span *ngIf="operation.value.type == 0"> Cut </span>
          <span *ngIf="operation.value.type == 1"> Sign </span>
          <span *ngIf="operation.value.type == 2"> Move </span>
          <span *ngIf="operation.value.type == -1"> ERROR </span>
          <span *ngIf="operation.value.type == 3"> Depth Change </span>
          &nbsp;-&nbsp;
          {{ operation.value.item["LastName"] }} ,&nbsp;{{
            operation.value.item["FirstName"]
          }}&nbsp;({{ cashSums[operation.value.item.BinID].label }}&nbsp;{{
            operation.value.item.OrderID
          }})
        </div>
      </div> -->
      <div style="position: absolute; bottom:0; width: 100%">
        <ng-container *ngFor="let pos of allBins">
          <div
            class="posContainer UFAContainer"
            style="height:auto !important"
            *ngIf="pos.id == 0"
          >
            <div class="posHeaderUFA" *ngIf="cashSums[0].total == 0">
              {{ pos.label }}
            </div>
            <div class="posHeaderUFA" *ngIf="cashSums[0].total != 0">
              {{ pos.label }} (+{{
                cashSums[0]["total"] / 1000000 | number: "1.1-3"
              }})
            </div>
            <div class="posHeaderUFACols">
              <span class="UFAVal">
                Name
              </span>
              <span class="UFAVal">
                Market
              </span>
              <span class="UFAVal">
                Dead
              </span>

              <span class="UFAVal">
                Age
              </span>
              <span class="UFAVal">
                Snap %
              </span>
              <span class="UFAVal">
                Pro
              </span>
              <span class="UFAVal">
                GH
              </span>
              <span class="UFAVal">
                GID
              </span>
            </div>

            <div
              cdkDropList
              id="{{ pos.id }}"
              [cdkDropListData]="pos.players"
              [cdkDropListConnectedTo]="connectedPositionLists"
              class="item-list"
              style="height:128px !important;"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="item-boxCUT"
                id="{{ player['PlayerID'] }}"
                *ngFor="let player of pos.players"
                cdkDrag
                (click)="editValue($event, pos.id, player)"
                [ngStyle]="UFAPlayerStyle(player)"
              >
                <!-- [innerHTML]="
                  player['LastName'] +
                  ', ' +
                  player['FirstName'] +
                  ' ' +
                  math.round(
                    (calcValueToUseAndDisplay(player) / 1000000 +
                      number.EPSILON) *
                      100
                  ) /
                    100 +
                  ' '
                " -->
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.FirstName[0] }}.&nbsp;

                  {{ player.LastName }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{
                    math.round(
                      (calcValueToUseAndDisplay(player) / 1000000 +
                        number.EPSILON) *
                        100
                    ) / 100
                  }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{
                    math.round(
                      (player.DeadMoney / 1000000 + number.EPSILON) * 100
                    ) / 100
                  }}
                </span>

                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value3 }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value4 }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Pro }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.GH }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Gid }}
                </span>
              </div>
              <!-- [innerHTML]="
                  player['UfaHTML'].replace('12px;', '12px;width:100%;') +
                    ' ' +
                    calcValueToUseAndDisplay(player) | safehtml
                " -->
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="UFASelectionArea">
      <div class="posSelect">
        <ng-container *ngFor="let group of filterService.faHypoBins">
          <div
            *ngIf="group['BinID'] < 0"
            class="posButtons"
            (click)="changeView(group['BinID'])"
            [ngStyle]="highlightOrNot(group['BinID'])"
          >
            {{ group["BinLabel"] }}
          </div>
        </ng-container>
      </div>
      <div class="ufachartContainer">
        <ng-container *ngFor="let pos of allBins">
          <div class="posContainer UFAContainer" *ngIf="pos.id == ufaViewing">
            <div class="posHeaderUFA">UFA&nbsp;-&nbsp;{{ pos.label }}</div>

            <div class="posHeaderUFACols">
              <span class="UFAVal">
                Name
              </span>
              <span class="UFAVal">
                Market
              </span>
              <span class="UFAVal">
                Max
              </span>

              <span class="UFAVal">
                Age
              </span>
              <span class="UFAVal">
                Snap %
              </span>
              <span class="UFAVal">
                Pro
              </span>
              <span class="UFAVal">
                GH
              </span>
              <span class="UFAVal">
                GID
              </span>
            </div>

            <div
              cdkDropList
              id="{{ pos.id }}"
              [cdkDropListData]="pos.players"
              [cdkDropListConnectedTo]="connectedPositionLists"
              class="item-list"
              (cdkDropListDropped)="drop($event)"
              *ngIf="pos.id == ufaViewing"
            >
              <div
                class="item-boxUFA"
                id="{{ player['PlayerID'] }}"
                *ngFor="let player of pos.players"
                cdkDrag
                (click)="editValue($event, pos.id, player)"
                [ngStyle]="UFAPlayerStyle(player)"
              >
                <!-- [innerHTML]="
                  player['LastName'] +
                  ', ' +
                  player['FirstName'] +
                  ' ' +
                  math.round(
                    (calcValueToUseAndDisplay(player) / 1000000 +
                      number.EPSILON) *
                      100
                  ) /
                    100
                " -->
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.FirstName[0] }}.&nbsp;

                  {{ player.LastName }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{
                    math.round(
                      (calcValueToUseAndDisplay(player) / 1000000 +
                        number.EPSILON) *
                        100
                    ) / 100
                  }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value1 }}
                </span>

                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value3 }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value4 }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Pro }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.GH }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Gid }}
                </span>
              </div>
              <!-- [innerHTML]="
                  player['UfaHTML'].replace('12px;', '12px;width:100%;') +
                    ' ' +
                    calcValueToUseAndDisplay(player) | safehtml
                " -->
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div id="editValueBox" *ngIf="editValueDisplay" class="editValueBox">
    <div class="triangleValueBox"></div>
    <div class="editValueTop">
      &nbsp;&nbsp;&nbsp;{{ editingPlayer["LastName"] }} ,&nbsp;{{
        editingPlayer["FirstName"]
      }}
    </div>
    <div class="editValueBottom">
      <input
        id="editValueInput"
        [value]="editingValue"
        class="editValueInput"
        (input)="overrideValue($event.target.value)"
      />
      <div class="editValueGo" (click)="onKeyPress({ key: 'Enter' })">
        &#10004;
      </div>
      <div
        class="editValueGo"
        style="background-color: #60c524 !important;background-image: none; margin-left: 5px; margin-right: 5px;"
        (click)="resetInputValueNull()"
      >
        &#8635;
      </div>
    </div>
  </div>
</div>
<div
  style="background-color: var(--raiders-gray);width:100vw;height:100vh;position: absolute;top: 50px;left: 200px;"
  *ngIf="uploadingScenario"
>
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
