::-webkit-scrollbar {
  width: 3px;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "DIN-Regular";
}
a,
::ng-deep a:-webkit-any-link {
  text-decoration: none;
}
.leftSide {
  width: 64.5%;
  float: left;
  margin-left: 0.5%;
}
.rightSide {
  width: 34.5%;
  float: left;
  margin-left: 0.5%;
}
.capInfo {
  height: calc(0.5 * (100vh - 190px));
}
.posSelect {
  width: 100%;
  /* display: flex; */
}
.posButtons {
  width: auto;
  min-width: 10px;
  float: left;
  text-align: center;
  min-width: 80px;
  /* width: -webkit-fill-available; */
  border-bottom: 3px solid white;
}
.posButtons:hover {
  background-color: var(--raiders-gray);
  color: black !important;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid rgb(66, 197, 245);
  cursor: pointer;
}
.depthchartContainer {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  margin: 10px;
  margin-left: 0px;
  width: 100%;
}
.ufachartContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  margin: 0px;
}
.posHeader {
  background-color: #f0f2f5;
  color: black;
  border: 1px solid transparent;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 3px;
}
.posHeaderUFA {
  background-color: #474747;
  color: white;
  border: 1px solid transparent;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.playerDepth {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.posContainer {
  border: 1px solid #f0f2f5;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 400px;
  width: 150px;
}
.UFAContainer {
  /* height: 350px !important; */
  width: 100% !important;
}
.heightLimit {
  height: 370px;
  overflow-y: scroll;
}
.heightLimitUFA {
  height: 350px;
}

.UFAPlayers {
  align-content: left;
  margin-top: 30px;
  margin-left: 200px;
}
.UFAPlayer {
  padding: 5px;
  border: 1px solid black;
  width: 150px;
}
.UFAPlayer:hover {
  background-color: burlywood;
}

.section-heading {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.drag-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
}

.item-list {
  min-height: 60px;
  border-radius: 4px;
  display: block;
  height: 370px;
  overflow-y: scroll;
}

.item-box {
  border: solid 1px #ccc;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 12px;
  border-radius: 20px;
}
.item-box:hover {
  background-color: burlywood;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
