::-webkit-scrollbar {
  width: 3px;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "DIN-Regular";
}
a,
::ng-deep a:-webkit-any-link {
  text-decoration: none;
}
.leftSide {
  width: 64.5%;
  float: left;
  margin-left: 0.5%;
  height: calc(100vh - 128px);
  overflow-y: auto;
}
.rightSide {
  width: 34%;
  float: left;
  margin-left: 0.5%;
}
.capInfoCut {
  position: relative;
  height: calc(0.48 * (100vh - 190px));
}

.posSelect {
  width: 100%;
  /* display: flex; */
}
.posButtons {
  width: auto;
  min-width: 10px;
  float: left;
  text-align: center;
  min-width: 72px;
  /* width: -webkit-fill-available; */
  border-bottom: 3px solid white;
}
.SOBButton {
  width: 50%;
  text-align: center;
  height: 35px;
  border-bottom: 3px solid white;
  float: left;
  line-height: 35px;
}
.SOBButton:hover,
.posButtons:hover {
  background-color: var(--raiders-gray);
  color: black !important;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid rgb(66, 197, 245);
  cursor: pointer;
}
.depthchartContainer {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  margin: 10px;
  margin-left: 0px;
  width: 100%;
}
.ufachartContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  margin: 0px;
}
.posHeader {
  background-color: #ececec;
  color: black;
  border: 1px solid transparent;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  /* padding: 5px; */
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 1px;
}
.posHeaderUFA {
  background-color: #474747;
  color: white;
  border: 1px solid transparent;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.playerDepth {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.posContainer {
  /* border: 1px solid #f0f2f5; */
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: auto;
  width: 125px;
  max-height: 162px;
  min-height: 154px;
}
.CUTContainer {
  border: 1px solid black;
  /* height: 350px !important; */
  width: 100% !important;
  height: fit-content;
  height: 377px !important;
  min-height: 160px;
  border-radius: 7px;
}
.UFAContainer {
  border: 1px solid black;
  /* height: 350px !important; */
  width: 100% !important;
  height: fit-content;
  height: 377px !important;
  min-height: 374px;
  border-radius: 7px;
}
.heightLimit {
  height: 120px;
  overflow-y: scroll;
}
.heightLimitUFA {
  height: 350px;
}

.UFAPlayers {
  align-content: left;
  margin-top: 30px;
  margin-left: 200px;
}
.UFAPlayer {
  padding: 5px;
  border: 1px solid black;
  width: 150px;
}
.UFAPlayer:hover {
  background-color: burlywood;
}

.section-heading {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.drag-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
}

.item-list {
  /* min-height: 60px; */
  border-radius: 4px;
  display: block;
  /* height: 170px; */
  overflow-y: auto;
  max-height: 322px;
}

.item-box {
  border: solid 1px #ccc;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 12px;
  /* border-radius: 20px; */
  height: 36px;
  width: 100%;
}

.item-boxUFA {
  border: solid 1px #ccc;
  margin-bottom: 5px;
  color: white;
  display: grid;
  grid-template-columns: 145px repeat(7, 1fr);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;

  font-size: 16px;
  padding-left: 10px;
  border-radius: 5px;
}
.item-boxCUT {
  border: solid 1px #ccc;
  margin-bottom: 5px;
  color: black;
  display: grid;
  grid-template-columns: 145px repeat(5, 1fr);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;

  font-size: 16px;
  padding-left: 10px;
  border-radius: 5px;
}
.item-box:hover,
.item-boxUFA:hover,
.item-boxCUT:hover {
  cursor: pointer;
  /* background-color: burlywood; */
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  /* border-radius: 20px; */
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.editValueBox {
  height: 75px;
  width: 240px;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px grey;
  position: absolute;
  background-color: white;
  z-index: 100;
  border-radius: 7px;
}
.editValueInput {
  width: 130px;
  margin-left: 10px;

  height: 27px;
  border: 1px solid #ececec;
  text-align: center;
  outline: none;
  font-size: 26px;
  margin-top: 5px;
}
.editValueTop {
  height: 45%;
  background-color: #ececec;
  line-height: 35px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.editValueBottom {
  display: flex;
  height: 55%;
}
.editValueGo {
  background-image: linear-gradient(#46a4d8, #3d77b9);
  color: white;
  width: 44px;
  height: 31px;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  border-radius: 5px;
  margin-left: 7px;
  line-height: 31px;
}
.editValueGo:hover {
  cursor: pointer;
}
/* .editValueBox:after {
  content: "";
  position: absolute;
  left: 9px;
  top: -19px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #ececec;
  clear: both;
} */
.triangleValueBox {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid grey;
  border-right: 15px solid transparent;
  position: relative;
  margin-top: -30px;
  margin-left: 27px;
}

.triangleValueBox:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 14px solid #ececec;
  border-top: 14px solid transparent;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  position: absolute;
  top: -13px;
  left: -14px;
}
.UFAVal {
  float: left;
}
.posHeaderUFACols {
  display: grid;
  grid-template-columns: 145px repeat(7, 1fr);
  padding-left: 10px;
  font-size: 12px;
  background-color: #474747;
  color: white;
  padding-bottom: 4px;
}
.posHeaderCUTCols {
  display: grid;
  grid-template-columns: 145px repeat(5, 1fr);
  padding-left: 10px;
  font-size: 12px;
  background-color: #474747;
  color: white;
  padding-bottom: 4px;
}
.DepthTopHalf {
  display: grid;
  grid-template-columns: 37px 1fr;
  width: 100%;
  height: 19px;
  line-height: 18px;
  color: white;
}
.DepthBottonHalf {
  display: grid;
  color: white;
  grid-template-columns: 37px repeat(3, 1fr);
  width: 100%;
  height: 15px;
  font-size: 10px;
  line-height: 13px;
}
.item-box {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.DepthTopHalf > div,
.DepthBottonHalf > span {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.itemListHeightFlip {
  /* max-height: 135px;
  
  display: flex;
  flex-wrap: wrap;
   */
  max-height: 150px;
  display: -webkit-box;
  display: flex;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* overflow-y: scroll; */
}
.itemListHeightRegular {
  /* max-height: 135px;
  
  display: flex;
  flex-wrap: wrap;
   */
  max-height: 150px;
  display: -webkit-box;
  display: flex;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* overflow-y: scroll; */
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-left: calc(50vw - 150px);
  margin-top: calc(50vh - 100px);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid rgb(107, 107, 107);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(107, 107, 107) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.topButton {
  margin-top: 3px;
  margin-right: 2px;
  background-color: #3e4345;
  font-family: "DIN-Regular";
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-top: 3px;
  float: left;
  width: 75px;
  min-width: 75px;
  margin-left: 2px;
  border: none;
  border-radius: 5px;
}
.TopRow {
  height: 40px;
}
.viewScenario {
  line-height: 27px;
  float: left;
  height: 24px;
  min-width: 255px;
  border: 3px solid var(--lighter-blue);
  border-radius: 10px;
  padding-left: 1px;
}
.posHeaderCash {
  font-size: 12px;
}
.posHeaderLabel {
  margin-left: 0px;
}
.posHeaderCount {
  margin-left: 15px;
  font-size: 12px;
}
.capInfo {
  border: 1px solid black;
}
/* .capInfo:first-child {
  border-top: none !important;
}
.capInfo:nth-child(2),
.capInfo:nth-child(1) {
  border-top: none !important;
} */
.displayInfoCapValue:nth-child(1),
.displayInfoCapLabel:nth-child(1) {
  border-top: none !important;
}
.displayInfoCapValue {
  float: left;
  /* border-left: 1px solid #bfbfbf; */
  border-top: 1px solid #bfbfbf;
  background-color: #f2f2f2;
}
.displayInfoCapLabel {
  float: left;
  border-top: 1px solid #bfbfbf;
  background-color: #f2f2f2;
}
.spendingCalculation,
.playerCount {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.topValuesCapInfo {
  display: grid;
  grid-template-columns: 40% 5% 55%;
  margin-bottom: 10px;
}
.capInfoGrid {
  font-size: 15px;
  float: left;
}
.capEditHover:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}
