<div style="overflow-y: scroll;height: 853px;">
  <div class="leftSide">
    <div class="depthchartContainer">
      <ng-container *ngFor="let bin of allBins">
        <div
          class="posContainer"
          *ngIf="bin.id > 0"
          [ngStyle]="depthLocationStyle(bin.id)"
        >
          <div class="posHeader" [ngStyle]="depthHeaderOrientationStyle(bin)">
            <span class="posHeaderCash"> </span>
            <span class="posHeaderLabel">
              {{ bin.label }}
            </span>
            <span class="posHeaderCount"> ({{ bin.players.length }}) </span>
          </div>

          <div
            cdkDropList
            id="{{ bin.id }}"
            [cdkDropListData]="bin.players"
            [cdkDropListConnectedTo]="connectedPositionLists"
            class="item-list itemListHeightFlip"
            [ngStyle]="depthOrientationStyle(bin)"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="item-box "
              *ngFor="let player of bin.players"
              id="{{ player['PlayerID'] }}"
              cdkDrag
              (click)="editValue($event, player)"
            >
              <div
                class="DepthTopHalf"
                id="{{ player['PlayerID'] }}"
                [ngStyle]="DepthPlayerStyleTop(player)"
              >
                <div
                  [ngStyle]="depthBorderInsideTop(player)"
                  id="{{ player['PlayerID'] }}"
                >
                  &nbsp;
                  {{
                    math.round(
                      (calcValueToUseAndDisplay(player) / 1000000 +
                        number.EPSILON) *
                        100
                    ) / 100 | number: "1.2-2"
                  }}
                </div>
                <div
                  [ngStyle]="depthBorderRightBlackBottomColor(player)"
                  id="{{ player['PlayerID'] }}"
                >
                  &nbsp; {{ player.FirstName[0] }}.&nbsp;

                  {{ player.LastName }}
                </div>
              </div>
              <div
                class="DepthBottonHalf"
                id="{{ player['PlayerID'] }}"
                [ngStyle]="DepthPlayerStyleBottom(player)"
              >
                <span
                  class="UFAVal"
                  [ngStyle]="depthBorderInsideBottom(player)"
                  id="{{ player['PlayerID'] }}"
                >
                  &nbsp;
                  {{
                    math.round(
                      (player.DeadMoney / 1000000 + number.EPSILON) * 100
                    ) / 100
                  }}
                </span>

                <span
                  id="{{ player['PlayerID'] }}"
                  class="UFAVal"
                  [ngStyle]="depthBorderInsideBottom(player)"
                >
                  &nbsp;
                  {{ player.Value2 }}
                </span>
                <span
                  id="{{ player['PlayerID'] }}"
                  class="UFAVal"
                  [ngStyle]="depthBorderInsideBottom(player)"
                >
                  &nbsp;{{ player.Value3 }}
                </span>
                <span
                  id="{{ player['PlayerID'] }}"
                  class="UFAVal"
                  [ngStyle]="depthBorderRightBlack(player)"
                >
                  &nbsp;{{ player.Value4 }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="rightSide">
    <div class="TopRow">
      <button class="topButton" (click)="saveScenario(1)">Save As</button>
      <button class="topButton" (click)="saveScenario(0)">Save</button>
      <button class="topButton" (click)="uploadScenario()">Upload</button>
      <button class="topButton" (click)="resetScenario()">Reset</button>
      <div class="viewScenario">Scenario : {{ name }}</div>
    </div>
    <div class="topValuesCapInfo">
      <div
        class="spendingCalculation"
        [ngStyle]="colorTextRedIfNegative(calculationsValues['SAWOA'].Value)"
      >
        {{
          calculationsValues["SAWOA"].Value
            | currency: "USD":"symbol":"1.0-0"
            | minusSignToParens
        }}
      </div>
      <div></div>
      <div class="playerCount">{{ playerCount }} &nbsp; Players</div>
    </div>
    <div class="capInfoCut">
      <div
        style="display: grid; grid-template-columns: 67%  33%;"
        class="capInfo"
      >
        <ng-container
          *ngFor="
            let figure of calculationsValues
              | keyvalue: filterService.valueOrder
          "
        >
          <div class="displayInfoCapLabel" *ngIf="figure.value.display == 1">
            <span class="capInfoGrid"
              >&nbsp;{{ figure.value.Label }} &nbsp;</span
            >
          </div>
          <div class="displayInfoCapValue" *ngIf="figure.value.display == 1">
            <span
              *ngIf="figure.value.Value != null && figure.value.calc == 1"
              class="capInfoGrid"
              [ngStyle]="colorTextRedIfNegative(figure.value.Value)"
            >
              {{
                figure.value.Value
                  | currency: "USD":"symbol":"1.0-0"
                  | minusSignToParens
              }}&nbsp;
            </span>
            <span
              id="{{ figure.key }}"
              *ngIf="figure.value.Value != null && figure.value.calc == 0"
              class="capInfoGrid capEditHover"
              (click)="editCapInfo($event, figure.key)"
            >
              {{
                figure.value.Value
                  | currency: "USD":"symbol":"1.0-0"
                  | minusSignToParens
              }}&nbsp;
            </span>
            <span *ngIf="figure.value.Value == null" class="capInfoGrid">
            </span>
          </div>
        </ng-container>
      </div>

      <div
        style="position: absolute; bottom:0; width: 100%"
        class="capInfoCuts"
      >
        <ng-container *ngFor="let pos of allBins">
          <div
            class="posContainer CUTContainer"
            style="height:auto !important;"
            *ngIf="pos.id == 0"
          >
            <div class="posHeaderUFA" *ngIf="cashSums[0].total == 0">
              {{ pos.label }}
            </div>
            <div class="posHeaderUFA" *ngIf="cashSums[0].total != 0">
              {{ pos.label }} (+{{
                cashSums[0]["total"] / 1000000 | number: "1.2-2"
              }})
            </div>
            <div class="posHeaderCUTCols">
              <span class="UFAVal">
                Name
              </span>
              <span class="UFAVal">
                Market
              </span>
              <span class="UFAVal">
                Dead
              </span>

              <span class="UFAVal">
                Age
              </span>
              <span class="UFAVal">
                Snap %
              </span>
              <span class="UFAVal">
                Savings
              </span>
            </div>

            <div
              cdkDropList
              id="{{ pos.id }}"
              [cdkDropListData]="pos.players"
              [cdkDropListConnectedTo]="connectedPositionLists"
              class="item-list"
              style="height: 110px !important; max-height: 110px; overflow-y: auto;"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="item-boxCUT"
                id="{{ player['PlayerID'] }}"
                *ngFor="let player of pos.players"
                cdkDrag
                (click)="editValue($event, player)"
                [ngStyle]="CUTPlayerStyle(player)"
              >
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.FirstName[0] }}.&nbsp;

                  {{ player.LastName }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{
                    math.round(
                      (calcValueToUseAndDisplay(player) / 1000000 +
                        number.EPSILON) *
                        100
                    ) / 100
                  }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{
                    math.round(
                      (player.DeadMoney / 1000000 + number.EPSILON) * 100
                    ) / 100
                  }}
                </span>

                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value3 }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value4 }}
                </span>

                <span class="UFAVal">
                  {{
                    math.max(
                      math.round(
                        (calcValueToUseAndDisplay(player) / 1000000 +
                          number.EPSILON) *
                          100
                      ) /
                        100 -
                        math.round(
                          (player.DeadMoney / 1000000 + number.EPSILON) * 100
                        ) /
                          100,
                      0
                    ) | number: "1.2-2"
                  }}
                </span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="UFASelectionArea">
      <div class="posSelect">
        <ng-container *ngFor="let group of filterService.faHypoBins">
          <div
            *ngIf="group['BinID'] < 0"
            class="posButtons"
            (click)="changeView(group['BinID'])"
            [ngStyle]="highlightOrNot(group['BinID'])"
          >
            {{ group["BinLabel"] }}
          </div>
        </ng-container>
      </div>
      <div class="ufachartContainer">
        <ng-container *ngFor="let pos of allBins">
          <div class="posContainer UFAContainer" *ngIf="pos.id == ufaViewing">
            <div class="posHeaderUFA">UFA&nbsp;-&nbsp;{{ pos.label }}</div>

            <div class="posHeaderUFACols">
              <span class="UFAVal">
                Name
              </span>
              <span class="UFAVal">
                Market
              </span>
              <span class="UFAVal">
                Max
              </span>

              <span class="UFAVal">
                Age
              </span>
              <span class="UFAVal">
                Snap %
              </span>
              <span class="UFAVal">
                Pro
              </span>
              <span class="UFAVal">
                GH
              </span>
              <span class="UFAVal">
                GID
              </span>
            </div>

            <div
              cdkDropList
              id="{{ pos.id }}"
              [cdkDropListData]="pos.players"
              [cdkDropListConnectedTo]="connectedPositionLists"
              class="item-list"
              (cdkDropListDropped)="drop($event)"
              *ngIf="pos.id == ufaViewing"
            >
              <div
                class="item-boxUFA"
                id="{{ player['PlayerID'] }}"
                *ngFor="let player of pos.players"
                cdkDrag
                (click)="editValue($event, player)"
                [ngStyle]="UFAPlayerStyle(player)"
              >
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.FirstName[0] }}.&nbsp;

                  {{ player.LastName }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{
                    math.round(
                      (calcValueToUseAndDisplay(player) / 1000000 +
                        number.EPSILON) *
                        100
                    ) / 100
                  }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value1 }}
                </span>

                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value3 }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Value4 }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Pro }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.GH }}
                </span>
                <span class="UFAVal" id="{{ player['PlayerID'] }}">
                  {{ player.Gid }}
                </span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div id="editValueBox" *ngIf="editValueDisplay" class="editValueBox">
    <div class="triangleValueBox"></div>
    <div class="editValueTop">
      &nbsp;&nbsp;&nbsp;{{ editingPlayer["LastName"] }} ,&nbsp;{{
        editingPlayer["FirstName"]
      }}
    </div>
    <div class="editValueBottom">
      <input
        id="editValueInput"
        [value]="editingValue"
        class="editValueInput"
        (input)="overrideValue($event.target.value)"
      />
      <div class="editValueGo" (click)="onKeyPress({ key: 'Enter' })">
        &#10004;
      </div>
      <div
        class="editValueGo"
        style="background-color: #60c524 !important;background-image: none; margin-left: 5px; margin-right: 5px;"
        (click)="resetInputValueNull()"
      >
        &#8635;
      </div>
    </div>
  </div>
  <div id="editCapInfoBox" *ngIf="editCapInfoDisplay" class="editValueBox">
    <div class="triangleValueBox"></div>
    <div class="editValueTop">
      &nbsp;&nbsp;&nbsp;{{ this.calculationsValues[editingCap].Label }}
    </div>
    <div class="editValueBottom">
      <input
        id="editCapInfoInput"
        [value]="editingCapInfo"
        class="editValueInput"
        (input)="overrideCapInfo($event.target.value)"
      />
      <div class="editValueGo" (click)="onKeyPress({ key: 'Enter' })">
        &#10004;
      </div>
      <div
        class="editValueGo"
        style="background-color: #60c524 !important;background-image: none; margin-left: 5px; margin-right: 5px;"
        (click)="resetInputCapInfoNull()"
      >
        &#8635;
      </div>
    </div>
  </div>
</div>
<div
  style="background-color: var(--raiders-gray);width:100vw;height:100vh;position: absolute;top: 50px;left: 200px;"
  *ngIf="uploadingScenario"
>
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
