<!-- <input type="file" (change)="onFileChange($event)" multiple="false" />
<table>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{ val }}
      </td>
    </tr>
  </tbody>
</table> -->
<iframe
  style="width: calc(100vw - 204px);height: calc(100vh - 105px)"
  src="https://nflraiders-my.sharepoint.com/:x:/g/personal/jdulsky_raiders_com/EYsJAfG-Q8RHvUX8OH8x0c8BUpadQmcfY4NGZSvwuWZVfg?e=FRJbVA&action=embedview&wdAllowInteractivity=True&wdbipreview=True&wdDownloadButton=True"
></iframe>
<!-- src="https://nflraiders-my.sharepoint.com/:x:/g/personal/jdulsky_raiders_com/EcgiZF5PTj9GkQd90_zrcUkBdXugU8Slyogb4yLtJvIK_g?e=V4hagw&action=embedview&wdAllowInteractivity=True&wdbipreview=True&wdDownloadButton=True" -->
<!-- src="https://nflraiders-my.sharepoint.com/:x:/g/personal/jdulsky_raiders_com/EXApGqr8ftNLvIFQJv4zu1oB-bm_n2y1xfJd91YWGZHKzw?e=sA9901&action=embedview&wdAllowInteractivity=True&wdbipreview=True&wdDownloadButton=True" -->
