<!-- This code commented out below is for Importing an excel file -->

<!-- <input type="file" (change)="onFileChange($event)" multiple="false" />
<table>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{ val }}
      </td>
    </tr>
  </tbody>
</table> -->
<iframe
  style="width: calc(100vw - 204px);height: calc(100vh - 105px)"
  src="https://nflraiders-my.sharepoint.com/:x:/g/personal/jdulsky_raiders_com/EYsJAfG-Q8RHvUX8OH8x0c8BUpadQmcfY4NGZSvwuWZVfg?e=FRJbVA&action=embedview&wdAllowInteractivity=True&wdbipreview=True&wdDownloadButton=True"
></iframe>
