<div class="topBarCash">
  <div
    class="topLinkCash"
    *ngFor="
      let cat of filterService.getReportHeaders(4) | keyvalue: body.valueOrder
    "
    id="{{ cat.key }}cashBarHighlightid"
    (click)="subRoute(cat.key)"
  >
    {{ cat.value.Label }}
  </div>
  <div class="yearContainerCash" (click)="showYearList()">
    <div class="yearLabelCash" *ngIf="filterService.portalYearsOnly.length > 0">
      {{ filterService.getYearDisplay() }}
    </div>
    <div
      class="yearLabelCash"
      *ngIf="filterService.portalYearsOnly.length == 0"
    >
      Year
    </div>
  </div>
  <div
    class="tableCenter yearArrowCash"
    id="yearSelectArrow"
    (click)="showYearList()"
  >
    <i class="fa fa-angle-down fa-lg"></i>
  </div>
  <div class="yearListAllCash shadow" *ngIf="showYear">
    <div
      class="yearDropDownCash"
      *ngFor="let year of filterService.portalYearsList"
      (click)="filterService.toggleYearsSelected(year)"
      [ngStyle]="filterService.setStyleYearSelect(year)"
      id="{{ year }}yearSelect"
    >
      {{ year }}
    </div>
  </div>
  <div
    class="fullScreenInactive"
    id="fullScreenButton"
    (click)="filterService.fullScreenOn()"
  >
    <i class="fa fa-window-maximize fa-sm"></i>
  </div>
</div>

<router-outlet></router-outlet>
