.topLink {
  padding: 15px 5px;
  height: 38px;

  line-height: 38px;
  width: auto;
  display: table;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  font-family: "DIN";
  border-bottom: 4px solid white;
  width: -webkit-fill-available;
  min-width: 120px;
}
.topLink:hover {
  background-color: #f2f2f2 !important;
  border-bottom: 4px solid var(--lighter-blue) !important;
  cursor: pointer;
}
.topBar {
  display: flex;
  border-bottom: 2px solid black;
}
.cash {
  height: 72px;
  color: black;
  width: 300px;
  line-height: 72px;
  min-width: 300px;

  padding-right: 30px;
  background-color: white;
}
.cash:hover {
  cursor: pointer;
  background-color: rgba(158, 158, 158, 0.568);
}
.imgLogo {
  max-height: 73px;
  max-width: 50px;
  margin: auto;
  background: transparent;
}
.tableCenter {
  vertical-align: middle;
}
.cashText {
  display: inline-block;
  /* background-color: white; */
  color: black;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  font-family: "DIN";
}
.cashList {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 124px;
  font-family: "DIN";
  z-index: 1000;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 500px;
  text-align: center;
}
.yearSelect {
  height: 73px;
  width: 190px;
  margin-right: 26px;
}

/*
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.528571;
    height: 59px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
*/
