<div class="topBar">
  <div class="yearContainer" (click)="showYearList()">
    <div class="yearLabel" *ngIf="filterService.portalYearsOnly.length > 0">
      {{ filterService.getYearDisplay() }}
    </div>
    <div class="yearLabel" *ngIf="filterService.portalYearsOnly.length == 0">
      Year
    </div>
  </div>
  <div
    class="tableCenter yearArrow"
    id="yearSelectArrow"
    (click)="showYearList()"
  >
    <i class="fa fa-angle-down fa-lg"></i>
  </div>
  <div class="yearListAll shadow" *ngIf="showYear">
    <div
      class="yearDropDown"
      *ngFor="let year of filterService.portalYearsList"
      (click)="filterService.toggleYearsSelected(year)"
      [ngStyle]="filterService.setStyleYearSelect(year)"
      id="{{ year }}yearSelect"
    >
      {{ year }}
    </div>
  </div>
  <div
    class="topLink"
    *ngFor="
      let cat of filterService.getReportHeaders(4) | keyvalue: body.valueOrder
    "
    id="{{ cat.key }}cashBarHighlightid"
    (click)="subRoute(cat.key)"
  >
    {{ cat.value.Label }}
  </div>
</div>

<router-outlet></router-outlet>
