.topLinkCash {
  height: 27px;

  line-height: 29px;
  width: auto;
  display: table;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  font-family: "DIN";
  border-bottom: 4px solid white;
  width: -webkit-fill-available;
  min-width: 120px;
}
.topLinkCash:hover {
  background-color: #f2f2f2 !important;
  border-bottom: 4px solid var(--lighter-blue) !important;
  cursor: pointer;
}
.topBarCash {
  display: flex;
  border-bottom: 2px solid black;
  height: 32px;
}
.cash {
  height: 72px;
  color: black;
  width: 300px;
  line-height: 72px;
  min-width: 300px;

  padding-right: 30px;
  background-color: white;
}
.cash:hover {
  cursor: pointer;
  background-color: rgba(158, 158, 158, 0.568);
}
.imgLogo {
  max-height: 73px;
  max-width: 50px;
  margin: auto;
  background: transparent;
}
.tableCenter {
  vertical-align: middle;
}
.cashText {
  display: inline-block;
  /* background-color: white; */
  color: black;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  font-family: "DIN";
}
.cashList {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 124px;
  font-family: "DIN";
  z-index: 1000;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 500px;
  text-align: center;
}
.yearArrowCash {
  display: inline;
  margin-top: 8px;
  position: relative;
  left: -43px;
  background: transparent;
  width: 0px;
  text-align: center;
}
.yearArrowCash:hover {
  cursor: pointer;
}
#yearSelectArrow > i {
  top: -9px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: relative;
}
.yearContainerCash {
  min-width: 220px;
  display: inline-grid;
}
.yearLabelCash {
  font-size: 20px;
  font-family: "DIN";
  color: black;
  font-weight: bold;
  height: 32px;
  line-height: 30px;
  text-align: center;
}
.yearLabelCash:hover {
  cursor: pointer;
  background-color: rgba(158, 158, 158, 0.568);
}
.yearListAllCash {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 84px;
  right: 0px;
  z-index: 1000;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 385px;
  text-align: center;
}
.yearDropDownCash {
  height: 50px;
  color: black;
  width: 220px;
  line-height: 50px;
  min-width: 220px;
  font-size: 20px;
  font-family: "DIN";
  color: black;
  font-weight: bold;
  background-color: white;
  overflow-y: auto;
}
.shadow {
  box-shadow: 2px 4px 10px black;
}
