<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="filterBar">
  <div class="insideGrid-containerFilt titleFilter topleftFloat">
    <div class="btn2" (click)="openFilterPage('-1')">
      <i class="fa fa-filter"></i>
    </div>
    <Div class="name" (click)="openFilterPage('-1')">
      Filters
    </Div>
  </div>
  <div class="funcbutton saveFilterNew" (click)="saveFilter()">
    <div class="btnGo">
      Save
    </div>
  </div>
  <div class="shadow menuSettings" *ngIf="filterService.menuOpen">
    <div
      class="menuSettingsOption"
      (click)="filterService.routeReportUploader()"
    >
      📲 Report Upload
    </div>
    <div class="menuSettingsOption">
      🎬 XOS Export
    </div>
  </div>
  <div
    class="suggestionListG"
    *ngIf="filterService.globalSearchShowSuggestions"
  >
    <div
      *ngFor="let result of filterService.temp | keyvalue"
      class="gSearchBlockG"
      (click)="
        filterService.goToLink(
          'http://oakcmsreports01.raiders.com:88' + result.value
        )
      "
    >
      <!-- <a
        [href]="
          filterService.sanitizer.bypassSecurityTrustResourceUrl(
            'http:/oakcmsreprots.raiders.com:88' + result.value
          )
        "
        target="_blank"
      > -->
      {{ result.key }}
      <!-- </a> -->
    </div>
  </div>
  <div class="funcbutton saveFilterNew" (click)="clearAll()">
    <div class="btnGo">
      Clear
    </div>
  </div>

  <ng-container *ngFor="let bin of filterService.DBFormat | keyvalue">
    <ng-container *ngFor="let fid of bin.value | keyvalue: valueOrderFIDs">
      <ng-container *ngIf="checkKeys(bin)">
        <div
          *ngIf="fid.value[0].length != 0"
          class="ovrSingleFilter insideGrid-container3"
        >
          <div
            class="filterLeftBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 0)"
          ></div>
          <div
            class="filterMiddleBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 1)"
            (click)="
              singleOpenExp(fid.key, filterService.FIDs[fid.key], bin.key)
            "
          >
            <div style="position: relative; top: -10px; font-size: 12px;">
              &nbsp;
              {{ getNavElLabel(bin.key) }}
              &nbsp;
            </div>
            <div
              style="top: -29px;
    position: relative;"
            >
              &nbsp;&nbsp;&nbsp;{{
                getExplicitValues(fid.value[0], bin.key)
              }}&nbsp;&nbsp;&nbsp;
            </div>
          </div>
          <div
            class="filterRightBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 2)"
            (click)="filterService.removeExplicit(fid.key, bin.key)"
          >
            <i class="fa fa-times timesCenterClose"></i>
          </div>
        </div>
        <div
          *ngFor="
            let panel of createSingleQueryPanelAttributeMap(fid.value[1])
              | keyvalue
          "
          class="ovrSingleFilter insideGrid-container3"
        >
          <div
            class="filterLeftBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 0)"
          ></div>
          <div
            class="filterMiddleBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 1)"
            (click)="
              singleOpenAtt(
                fid.key,
                filterService.FIDs[fid.key],
                panel.value[0],
                bin.key
              )
            "
          >
            <div style="position: relative; top: -10px; font-size: 12px;">
              &nbsp;
              {{ getNavElLabel(panel.key) }}
              &nbsp;
            </div>
            <div
              style="top: -29px;
  position: relative;"
            >
              &nbsp;&nbsp;&nbsp;{{
                getAttOrPanelStringsValues(panel.value)
              }}&nbsp;&nbsp;&nbsp;
            </div>
          </div>
          <div
            class="filterRightBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 2)"
            (click)="
              filterService.removeAttributes(fid.key, bin.key, panel.value)
            "
          >
            <i class="fa fa-times timesCenterClose"></i>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!checkKeys(bin)">
        <div class="ovrSingleFilter insideGrid-container3">
          <div
            class="filterLeftBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 0)"
          ></div>
          <div
            class="filterMiddleBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 1)"
            (click)="
              singleOpenExp(fid.key, filterService.FIDs[fid.key], bin.key)
            "
          >
            <div style="position: relative; top: -10px; font-size: 12px;">
              &nbsp;
              {{ getNavElLabel(bin.key) }}
              {{ filterService.FIDCreationOrder[bin.key].indexOf(fid.key) + 1 }}
              &nbsp;
            </div>
            <div
              style="top: -29px;
  position: relative;"
            >
              &nbsp;&nbsp;&nbsp;{{
                getMultipleQueryBottomString(fid.key, fid.value)
              }}&nbsp;&nbsp;&nbsp;
            </div>
          </div>
          <div
            class="filterRightBorder"
            [ngStyle]="filterService.setFilterStyle(bin.key, 2)"
            (click)="removeQuery(fid.key)"
          >
            <i class="fa fa-times timesCenterClose"></i>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <div>
    <div class="playCount">Plays</div>
    <div class="playCountNumber">{{ filterService.playCount }}</div>

    <!-- <div *ngIf="filterService.playCount == ''"> -->
    <div *ngIf="false">
      <div class="loading-spinner"></div>
    </div>
  </div>
</div>

<!--<div id="filterBar" style="background-color: #ebeced">
   <div class="buttonsGrid">
    <div class="insideGrid-containerFilt titleFilter topleftFloat">
      <Div class="name" (click)="openFilterPage()">
        Filters
      </Div>
      <div class="btn2" (click)="openFilterPage()">
        <i class="fa fa-plus"></i>
      </div>
    </div>

    <Div class="insideGrid-containerFilt funcbutton clear topleftFloat">
      <div class="btnApply" (click)="clearAll()">New</div>
      <div class="btnGo" (click)="clearAll()">
        <i class="fa fa-refresh fa-lg"></i>
      </div>
    </Div>
    <Div class="insideGrid-containerFilt funcbutton apply topleftFloat">
      <div class="btnApply" (click)="sendFilters()">Apply</div>
      <div class="btnGo" (click)="sendFilters()">
        <i class="fa fa-arrow-circle-right fa-lg"></i>
      </div>
    </Div>

    <button
      mat-button
      class="mat-button titleFilter saveFilter topleftFloat"
      (click)="saveFilter()"
    >
      Save Filter
    </button>
    <div>
      <button
        mat-button
        (click)="XOSExport()"
        class="mat-button but folder topleftFloat"
      >
        XOS Export
         <i *ngIf="noFolderAlert" class="fa fa-exclamation-triangle fa-sm"></i> 
      </button>
      <div class="searching" *ngIf="noFolderAlert">
        <div class="gSearchBlock">
          <i class="fa fa-exclamation-triangle fa-sm"></i>
          Select Folder Please!
        </div>
      </div>
    </div>
    <button
      mat-button
      class="mat-button but folder topleftFloat"
      (click)="selectFolderXos()"
    >
      {{ location }}
      <i id="xosIco" class="fa fa-search space"></i>
    </button>
    <button
      mat-button
      class="mat-button but folder topleftFloat"
      (click)="selectSavedFilter()"
    >
      Import Filter
    </button>
  </div> -->

<!-- <div class="ovr-container" style="display: flow-root">
    <div class="ovr-container2">
      <div class="grid-container">
        <div
          *ngFor="let filt of filterService.testFilters | keyvalue"
          class="singleFilter insideGrid-container"
        >
          <div class="btnE" (click)="singleOpen(filt.key)">
            <i class="fa fa-pencil"></i>
          </div>
          <div class="words">{{ netIDToString[filt.key] }}</div>
          <div class="btn" (click)="delete(filt.key)">
            <i class="fa fa-times"></i>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div> -->
