<div></div>
<div class="overallForm">
  <h1 style="margin-top:0px;margin-left:7px; margin-bottom: 10px;;">
    REPORT UPLOAD FORM
  </h1>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="label">Name</label>
      <input
        type="text"
        class="form-control"
        id="label"
        required
        [(ngModel)]="report.label"
        name="label"
        #label="ngModel"
      />
    </div>

    <div class="form-group">
      <label for="RDURL">RockDaisy URL:</label>
      <input
        type="text"
        class="form-control"
        id="RDURL"
        [(ngModel)]="report.url"
        name="RDURL"
      />
    </div>

    <div class="form-group">
      <label for="tab">Tab:</label>
      <select
        class="form-control"
        id="tab"
        required
        [(ngModel)]="report.isTab"
        name="tab"
        #tab="ngModel"
      >
        <option *ngFor="let option of yesno" [value]="option">{{
          option
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="list">List:</label>
      <select
        class="form-control"
        id="list"
        required
        [(ngModel)]="report.isTab"
        name="list"
        #list="ngModel"
      >
        <option *ngFor="let option of yesno" [value]="option">{{
          option
        }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="location">Location:</label>
      <select
        class="form-control"
        id="location"
        required
        [(ngModel)]="report.location"
        name="location"
        #location="ngModel"
      >
        <option
          *ngFor="let loc of filterService.reportTabLocation | keyvalue"
          [value]="loc.key"
          >{{ loc.value.Label }}</option
        >
      </select>
    </div>
    <div class="form-group">
      <label for="tabSelect">Parent List ID:</label>
      <select
        class="form-control"
        id="tabSelect"
        required
        [(ngModel)]="report.parentListID"
        name="tabSelect"
        #tabSelect="ngModel"
      >
        <option
          *ngFor="
            let loc of filterService.reportTabs
              | keyvalue
              | filterReportLists: report.location
          "
          [value]="loc.key"
          >{{ loc.value.Label }}</option
        >
      </select>
    </div>

    <div class="form-group">
      <label for="icon">Icon:</label>
      <select
        class="form-control"
        id="icon"
        required
        [(ngModel)]="report.iconURL"
        name="icon"
        #icon="ngModel"
      >
        <option
          *ngFor="let icon of icons | keyvalue"
          [style.backgroundColor]="icon.value"
          [value]="icon.value"
          >{{ icon.key }}</option
        >
      </select>
    </div>

    <div class="form-group">
      <label for="color"
        >Color:
        <span style="text-transform: uppercase;">{{
          report.color
        }}</span></label
      >
      <input
        class="form-control"
        id="color"
        name="color"
        [style.background]="report.color"
        [(colorPicker)]="report.color"
      />
    </div>

    <div class="grid-itemGen" [ngStyle]="setSampleStyle()"></div>
    <div class="labelText">
      {{ report.label }}
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!heroForm.form.valid"
      style="margin-left:15px"
      class="submitButton"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-default submitButton"
      (click)="resetForm()"
    >
      Reset
    </button>
  </form>
</div>

<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div style="margin-top:10px;">
    <label>
      Label:
      <input type="text" formControlName="firstName" />
    </label>
  </div>
  <div style="margin-top:10px;">
    <label>
      Rock Daisy URL:
      <input type="text" formControlName="lastName" />
    </label>
  </div>
  <div style="margin-top:10px;">
    <label>
      Is it a Tab?
    </label>
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
    >
    </mat-slide-toggle>
  </div>
  <div style="margin-top:10px;">
    <label>
      Is it a List?
    </label>
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
    >
    </mat-slide-toggle>
  </div>
  <div style="margin-top:10px;">
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let food of ['blafs', 'sdfdf', 'sdfsad']"
          [value]="food"
        >
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="margin-top:10px;">
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>
</form> -->
