/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.css' */
:root {
  --raiders-grey: #c3c8cb;
  --lighter-blue: #92a2ac;
  --medium-blue: #778d9b;
  --medium-grey: #91989c;
  --darker-grey: #7f878c;
  --color-white: white;
  --color-black: black;
  --light-blue: #799fb7;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
@font-face {
  font-family: "DIN";
  src: url("/assets/font/@font-face/1daa609fdca8da38e5bcbb12c2a987db.ttf")
    format("opentype");
  src: url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.eot")
      format("embedded-opentype"),
    url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.woff")
      format("woff"),
    url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.woff2")
      format("woff2"),
    url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.svg")
      format("svg");
}
.multiselect-dropdown,
.dropdown-btn {
  border: none !important;
  height: 59px;
  font-family: "DIN" !important;
  font-weight: bold !important;
  font-size: 20px;
  text-align: center !important;
  line-height: 3 !important;
  border-radius: 0px !important;
}

.selected-item {
  font-family: "DIN";
  line-height: 1.3 !important;

  margin-bottom: 2px;
}
.dropdown-down,
.dropdown-up {
  position: absolute;
  margin-top: 23px;
  margin-left: -15px;
  display: none !important;
}
.dropdown-btn:focus {
  outline: none;
}
.dropdown-list {
  margin-top: 3px !important;
}
