/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.css' */
:root {
  --raiders-gray: #c3c8cb;
  --lighter-blue: #92a2ac;
  --medium-blue: #778d9b;
  --medium-gray: #91989c;
  --darker-gray: #7f878c;
  --color-white: white;
  --color-black: black;
  --light-blue: #799fb7;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
@font-face {
  font-family: "DIN-Regular";
  src: url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.ttf")
    format("opentype");
  src: url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.eot")
      format("embedded-opentype"),
    url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.woff")
      format("woff"),
    url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.woff2")
      format("woff2"),
    url("/assets/Fonts/@font-face/1daa609fdca8da38e5bcbb12c2a987db.svg")
      format("svg");
}
@font-face {
  font-family: "DIN_Rounded_Medium";
  src: url("/assets/Fonts/DIN_Next_Rounded/DINNextRoundedLTPro-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "DIN-Condensed";
  src: url("/assets/Fonts/DIN-Condensed.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Heavy";
  src: url("/assets/Fonts/DIN-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "DIN-HeavyCondensed";
  src: url("/assets/Fonts/DIN-HeavyCondensed.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Italic";
  src: url("/assets/Fonts/DIN-Italic.otf") format("opentype");
}
@font-face {
  font-family: "DIN-LightCondensed";
  src: url("/assets/Fonts/DIN-LightCondensed.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Medium";
  src: url("/assets/Fonts/DIN-Medium.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Regular";
  src: url("/assets/Fonts/DIN-Regular.otf") format("opentype");
}
@font-face {
  font-family: "DIN-UltraLight";
  src: url("/assets/Fonts/DIN-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: "DIN-BlackCondita";
  src: url("/assets/Fonts/DIN-BlackCondita.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Bold";
  src: url("/assets/Fonts/DIN-Bold.otf") format("opentype");
}
@font-face {
  font-family: "DIN-BoldCondensed";
  src: url("/assets/Fonts/DIN-BoldCondensed.otf") format("opentype");
}
@font-face {
  font-family: "DIN-BoldCondita";
  src: url("/assets/Fonts/DIN-BoldCondita.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Condita";
  src: url("/assets/Fonts/DIN-Condita.otf") format("opentype");
}
@font-face {
  font-family: "DIN-HeavyCondita";
  src: url("/assets/Fonts/DIN-HeavyCondita.otf") format("opentype");
}
@font-face {
  font-family: "DIN-LightCondita";
  src: url("/assets/Fonts/DIN-LightCondita.otf") format("opentype");
}
@font-face {
  font-family: "DIN-MediumCondita";
  src: url("/assets/Fonts/DIN-MediumCondita.otf") format("opentype");
}
@font-face {
  font-family: "DIN-UltraLightCondita";
  src: url("/assets/Fonts/DIN-UltraLightCondita.otf") format("opentype");
}
@font-face {
  font-family: "DIN-UltraLightIt";
  src: url("/assets/Fonts/DIN-UltraLightIt.otf") format("opentype");
}
@font-face {
  font-family: "DIN-BlackCondensed";
  src: url("/assets/Fonts/DIN-BlackCondensed.otf") format("opentype");
}
@font-face {
  font-family: "DIN-BlackItalic";
  src: url("/assets/Fonts/DIN-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: "DIN-BoldItalic";
  src: url("/assets/Fonts/DIN-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "DIN-HeavyItalic";
  src: url("/assets/Fonts/DIN-HeavyItalic.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Light";
  src: url("/assets/Fonts/DIN-Light.otf") format("opentype");
}
@font-face {
  font-family: "DIN-LightItalic";
  src: url("/assets/Fonts/DIN-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: "DIN-MediumCond";
  src: url("/assets/Fonts/DIN-MediumCond.otf") format("opentype");
}
@font-face {
  font-family: "DIN-MediumItalic";
  src: url("/assets/Fonts/DIN-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "DIN-UltraLightCond";
  src: url("/assets/Fonts/DIN-UltraLightCond.otf") format("opentype");
}
@font-face {
  font-family: "DIN-Black";
  src: url("/assets/Fonts/DIN-Black.otf") format("opentype");
}
.multiselect-dropdown,
.dropdown-btn {
  border: none !important;
  height: 59px;
  font-family: "DIN-Regular" !important;
  font-weight: bold !important;
  font-size: 20px;
  text-align: center !important;
  line-height: 3 !important;
  border-radius: 0px !important;
}

.selected-item {
  font-family: "DIN-Regular";
  line-height: 1.3 !important;

  margin-bottom: 2px;
}
.dropdown-down,
.dropdown-up {
  position: absolute;
  margin-top: 23px;
  margin-left: -15px;
  display: none !important;
}
.dropdown-btn:focus {
  outline: none;
}
.dropdown-list {
  margin-top: 3px !important;
}
/* span.dropdown-btn:first-child {
  line-height: 3 !important;
}
span.dropdown-btn:last-child {
  line-height: 2 !important;
} */
/* .multiselect-dropdown > div > div > span:first-child {
  line-height: 3 !important;
}
#yearSelect > div > div:nth-child(1) > span > span.ng-star-inserted {
  line-height: 3 !important;
} */
#yearSelect > div > div:nth-child(1) > span > span:last-child {
  line-height: 2 !important;
}
#yearSelect > div > div.dropdown-list > ul.item2 {
  line-height: 2 !important;
}
[md-menu] {
  position: relative;
  display: inline-block;
}
[md-menu] .md-menu-content {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #fff;
  list-style: none;
  min-width: 100px;
  padding: 8px 0;
  margin: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
  border-radius: 2px;
}
[md-menu] .md-menu-content.right {
  left: auto;
  right: 0;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
[md-menu] .md-menu-content.top {
  top: auto;
  bottom: 0;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
[md-menu] .md-menu-content.top.right {
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
[md-menu].open > .md-menu-content {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
[md-menu] li {
  position: relative;
  display: block;
}
[md-menu] .md-menu-item {
  position: relative;
  display: block;
  padding: 0 16px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
[md-menu] .md-menu-item:hover {
  background-color: rgba(158, 158, 158, 0.2);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
