<h6 mat-dialog-title>
  {{ title
  }}<span style="float:right" class="exit"
    ><i class="fa fa-close fa-lg" (click)="close()"></i
  ></span>
</h6>
<mat-dialog-content
  id="dialogcontent"
  [formGroup]="filterService.form"
  class="dialogBody"
>
  <div class="wholecontent">
    <div class="leftside" id="leftside{{ panel }}" *ngFor="let panel of panels">
      <div
        *ngFor="
          let first of getPanelOptions(panel) | keyvalue: valueOrderSideButtons
        "
        class="singlePanel"
        (click)="attributeSelected(first.key)"
        id="buttonContainer{{ first.key }}"
      >
        <!-- <div class="tier2-arrowName-container"> -->
        <div class="tier2-name" id="firstname{{ first.key }}">
          {{ returnlabel(filterService.pullNavigationElement[first.key]) }}
        </div>
        <div id="selectKey{{ first.key }}" class="selectKey">
          <i class="fa fa-chevron-right fa-sm"></i>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="guiArea">
      <div style="width: 100%">
        <H2 class="l2Title" *ngIf="show != ''"
          >{{ filterService.pullAttribute[show][Label] }} Filters</H2
        >
      </div>
      <ng-container
        *ngIf="
          filterService.pullAttribute[show] &&
          0 == filterService.pullAttribute[show]['UITypeID']
        "
      >
        <ng-container
          *ngTemplateOutlet="type0; context: { id: show, values: null }"
          style="width:100%"
        ></ng-container>
      </ng-container>
      <ng-container
        *ngIf="
          filterService.pullAttribute[show] &&
          1 == filterService.pullAttribute[show]['UITypeID']
        "
      >
        <ng-container
          *ngTemplateOutlet="type1; context: { id: show, values: null }"
          style="width:100%"
        ></ng-container>
      </ng-container>
      <ng-container
        *ngIf="
          filterService.pullAttribute[show] &&
          2 == filterService.pullAttribute[show]['UITypeID']
        "
      >
        <ng-container
          *ngTemplateOutlet="type2; context: { id: show, values: null }"
          style="width:100%"
        ></ng-container>
      </ng-container>
      <ng-container
        *ngIf="
          filterService.pullAttribute[show] &&
          3 == filterService.pullAttribute[show]['UITypeID']
        "
      >
        <ng-container
          *ngTemplateOutlet="type3; context: { id: show, values: null }"
          style="width:100%"
        ></ng-container>
      </ng-container>
    </div>
  </div>

  <ng-template #type0 let-id="id" let-values="values">
    <div class="toggleContainer">
      <div class="togglelabel">
        {{ filterService.pullAttribute[id][Label] }}:
      </div>

      <mat-form-field
        id="tier3Tab{{ id }}"
        style="width:100%; padding-right:5%;"
      >
        <mat-select
          [formControl]="filterService.form.controls[id]"
          multiple
          (selectionChange)="type0change(id)"
          style="color:black;"
        >
          <mat-option>
            <ngx-mat-select-search
              id="{{ id }}search"
              formControlName="{{ id }}search"
              placeholderLabel="Search"
              [noEntriesFoundLabel]="'None Found'"
              [clearSearchInput]="false"
              style="caret-color: white !important;"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option disabled>
            <button
              id="{{ id }}all"
              mat-button
              (click)="toggleAllSelections(id, true)"
            >
              Select All
            </button>
            <button
              id="{{ id }}none"
              (click)="toggleAllSelections(id, false)"
              mat-button
            >
              Deselect All
            </button>
          </mat-option>

          <mat-option
            *ngFor="
              let cat of filterService.pullValueMap[id]
                | keyvalue
                | filter2: filterService.form.value[id + 'search']:id
            "
            [value]="cat.key"
            class="clickedWhite"
            >{{ cat.value[Label] }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </ng-template>
  <ng-template #type1 let-id="id" let-values="values">
    <div *ngFor="let option of filterService.pullValueMap[id] | keyvalue">
      <div
        onload=""
        class="league"
        id="{{ option.value[Label] }}"
        (click)="filterService.toggleLeague(id, option.key)"
        *ngIf="
          filterService.form.value[id] == null ||
          !filterService.form.value[id].includes(option.key)
        "
      >
        <img
          [src]="
            filterService.createLeagueImages(
              filterService.pullValueMap[id][option.key][Label]
            )
          "
          [ngStyle]="filterService.setLeagueIconStyle(option.key, id)"
        />
      </div>
      <div
        *ngIf="
          filterService.form.value[id] != null &&
          filterService.form.value[id].includes(option.key)
        "
        class="leagueSelected"
        id="{{ option.value[Label] }}"
        (click)="filterService.toggleLeague(id, option.key)"
      >
        <img
          [src]="
            filterService.createLeagueImages(
              filterService.pullValueMap[id][option.key][Label]
            )
          "
          [ngStyle]="filterService.setLeagueIconStyle(option.key, id)"
        />
      </div>
    </div>
  </ng-template>
  <ng-template #type2 let-id="id" let-values="values">
    <div class="toggleLabelClub2">
      <div
        class="switch-toggle switch-3 switch-candy"
        style="background-color: var(--raiders-grey); max-width: 607px; margin-left: 79px;"
      >
        <input
          id="onconf{{ id }}"
          name="state-dconf{{ id }}"
          type="radio"
          [checked]="filterService.checkType2ConfChecked(id, 'AFC')"
        />

        <label
          for="onconf{{ id }}"
          id="AFCButton{{ id }}"
          (click)="filterService.changeConference(id, 'AFC')"
          >AFC</label
        >

        <input
          id="offconf{{ id }}"
          name="state-dconf{{ id }}"
          type="radio"
          [checked]="filterService.checkType2ConfChecked(id, 'NFC')"
        />
        <label
          for="offconf{{ id }}"
          id="NFCButton{{ id }}"
          (click)="filterService.changeConference(id, 'NFC')"
          >NFC</label
        >

        <a id="switchConference{{ id }}"></a>
      </div>
    </div>
    <div class="teamGUI" style="color:black">
      <ng-container
        *ngFor="let conf of [filterService.conferenceSelections[id]]"
      >
        <ng-container
          *ngFor="let div of ['North', 'South', 'East', 'West']"
          class="rowTeams"
        >
          <ng-container *ngIf="filterService.conferenceSelections[id] === conf">
            <div class="division">
              {{ div }}
            </div>
            <ng-container
              *ngFor="
                let team of filterService.getDisplayTeams(
                  ['Conference', 'Division'],
                  [conf, div]
                );
                let i = index
              "
            >
              <ng-template
                *ngIf="
                  filterService.form.value[id] != null &&
                    filterService.checkNotInArray(
                      filterService.form.value[id],
                      team['SailTeamID']
                    );
                  then teamselected;
                  else teamnotselected
                "
              >
              </ng-template>
              <ng-template #teamnotselected>
                <div
                  class="singleTeamGUI"
                  id="teamGUI{{ team['SailTeamID'] }}"
                  (click)="filterService.toggleTeam(team, id)"
                >
                  <div style="text-align: center; z-index: 0; height: 60px;">
                    <img
                      [src]="filterService.logo(team)"
                      style="width:100%; height:100%;opacity: 0.3 "
                    />
                  </div>
                </div>
              </ng-template>
              <ng-template #teamselected>
                <div
                  class="singleTeamGUISelected"
                  id="teamGUI{{ team['SailTeamID'] }}"
                  (click)="filterService.toggleTeam(team, id)"
                >
                  <div style="text-align: center; z-index: 0; height: 60px;">
                    <img
                      [src]="filterService.logo(team)"
                      style="width:100%; height:100%; opacity: 1"
                    />
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
  <ng-template #type3 let-id="id" let-values="values">
    <div class="toggleContainer">
      <div class="togglelabel">
        {{ filterService.pullAttribute[id][Label] }}:
      </div>
      <div>
        <div class="form-group">
          <div class="switch-toggle switch-3 switch-candy">
            <input
              id="off{{ id }}"
              name="state-d{{ id }}"
              type="radio"
              [checked]="filterService.checkType3ToggleChecked(id, 'False')"
            />
            <label
              for="off{{ id }}"
              (click)="filterService.changeToggleValue(id, 'False', false)"
              >OFF</label
            >
            <input
              id="na{{ id }}"
              name="state-d{{ id }}"
              type="radio"
              [checked]="filterService.checkType3ToggleChecked(id, 'na')"
            />
            <label
              for="na{{ id }}"
              (click)="filterService.changeToggleValue(id, '0', true)"
              >N/A</label
            >
            <input
              id="on{{ id }}"
              name="state-d{{ id }}"
              type="radio"
              [checked]="filterService.checkType3ToggleChecked(id, 'True')"
            />
            <label
              for="on{{ id }}"
              (click)="filterService.changeToggleValue(id, 'True', false)"
              >ON</label
            >

            <a></a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary save" (click)="save()">
    Add
  </button>
  <!-- <button class="mat-raised-button mat-primary save" (click)="save()">
          Save
        </button> -->
  <!-- <button class="mat-raised-button mat-primary save" (click)="clearAll()">
          Clear All
        </button> -->
</mat-dialog-actions>
<!-- <div
        class="toggleContainer"
        *ngIf="
          show != '' &&
          0 == filterService.pullAttribute[show]['UITypeID'] &&
          filterService.pullNavigationElement[show]['IsAttribute'] == true
        "
      >

        <mat-form-field
          id="tier3Tab{{ show }}"
          style="width:100%; padding-right:5%;"
        >
          <mat-select
            formControlName="{{ show }}"
            placeholder="Select"
            multiple
            (selectionChange)="type0change(show)"
            style="color:black;"
          >
            <mat-option>
              <ngx-mat-select-search
                id="{{ show }}search"
                formControlName="{{ show }}search"
                placeholderLabel="Search"
                [noEntriesFoundLabel]="'None Found'"
                [clearSearchInput]="false"
                style="caret-color: white !important;"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option disabled>
              <button
                id="{{ show }}all"
                mat-button
                (click)="toggleAllSelections(show, true)"
              >
                Select All
              </button>
              <button
                id="{{ show }}none"
                (click)="toggleAllSelections(show, false)"
                mat-button
              >
                Deselect All
              </button>
            </mat-option>
        
                    this one has smart filtering redo thi
                    <mat-option
                  *ngFor="
                    let cat of newValueMap[show]
                      | filter: form.value[show + 'search']
                      | SmartFilter: filterService.testFilters
                  "
                  [value]="cat"
                  class="clickedWhite"
                  >{{ idToString[cat] }}</mat-option
                > 
            <mat-option
              *ngFor="
                let cat of filterService.pullValueMap[show]
                  | keyvalue
                  | filter2: filterService.form.value[show + 'search']
              "
              [value]="cat.value"
              class="clickedWhite"
              >{{ filterService.pullValue[cat.value][Label] }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div> -->
