<div *ngIf="!uploadingPicks" class="fontDIN">
  <div class="pageName">RAIDERS DRAFT TRADE TOOL</div>
  <div class="leftSide">
    <div class="teamSplit">
      <div class="raidersPicksBox">
        <div class="raidersTeamBox">
          <div class="imageContainer" id="raiders">
            <img id="team" [src]="getActiveLogo(raiders)" class="tradeImage" />
          </div>
          <div id="team" class="tradeTeamName">
            &nbsp;{{ getCityName(raiders) }}
          </div>
          <div id=""></div>
        </div>

        <div class="pickRegion">
          <div class="allYearsPickContainer">
            <div
              class="pickYear"
              *ngFor="let yearNumber of [year, year + 1, year + 2]"
            >
              <div class="year">
                {{ yearNumber }}
              </div>
              <div class="yearPicks">
                <ng-container
                  *ngFor="let pick of teamToPickIDs[raiders['SailTeamID']]"
                >
                  <div
                    *ngIf="pickIDToPick[pick]['Season'] == yearNumber"
                    [ngStyle]="
                      checkConditional(
                        pickIDToPick[pick]['ConditionalPick'],
                        pick
                      )
                    "
                    class="pick"
                    (click)="togglePick(pick)"
                  >
                    <div class="singlePick">
                      <span *ngIf="yearNumber == this.year">
                        {{ pickIDToPick[pick]["Round"] }}-{{
                          pickIDToPick[pick]["Overall"]
                        }}</span
                      >
                      <span *ngIf="yearNumber != this.year">
                        {{ pickIDToPick[pick]["Round"] }}
                        <span *ngIf="pickIDToPick[pick]['PickLabel'].length > 6"
                          >&nbsp;-&nbsp;{{
                            pickIDToPick[pick]["PickLabel"].substring(6, 9)
                          }}
                        </span></span
                      >
                    </div>
                    <div class="pickValue">
                      {{ pickIDToPick[pick]["Points"] }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tradeTeamContainer">
        <div class="tradeTeamBox" id="team">
          <div class="imageContainer" id="team">
            <img
              id="team"
              [src]="getActiveLogo(filterService.teamPortalSelected)"
              class="tradeImage"
              (click)="displayTeams(showList)"
            />
          </div>
          <div id="team" class="tradeTeamName" (click)="displayTeams(showList)">
            &nbsp;{{ getCityName(filterService.teamPortalSelected) }}
          </div>
          <div id="team" (click)="displayTeams(showList)">
            <i id="team" class="downArrow fa fa-angle-down fa-lg"></i>
          </div>

          <div
            id="team"
            class="teamList shadow"
            [@slideInOutTeamListPortal]="teamListAnimationState"
          >
            <ng-container
              *ngFor="let team of filterService.teams | Sort: 'ClubCityName'"
            >
              <div
                id="team"
                class="team teamGrid"
                (click)="changeTradeTeam(team)"
                *ngIf="team['SailTeamID'] != 1012"
              >
                <img
                  id="team"
                  class="imgLogo tableCenter"
                  [src]="getActiveLogo(team)"
                />
                <div id="team" class="teamText">
                  &nbsp;&nbsp;{{ getCityName(team) }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="pickRegion">
          <div class="allYearsPickContainer">
            <div
              class="pickYear"
              *ngFor="let yearNumber of [year, year + 1, year + 2]"
            >
              <div class="year">
                {{ yearNumber }}
              </div>
              <div class="yearPicks">
                <ng-container
                  *ngFor="
                    let pick of teamToPickIDs[
                      filterService.teamPortalActiveClubID
                    ]
                  "
                >
                  <div
                    *ngIf="
                      pickIDToPick[pick]['Season'] == yearNumber &&
                      filterService.teamPortalActiveClubID != '1012'
                    "
                    [ngStyle]="
                      checkConditional(
                        pickIDToPick[pick]['ConditionalPick'],
                        pick
                      )
                    "
                    class="pick"
                    (click)="togglePick(pick)"
                  >
                    <div class="singlePick">
                      <span *ngIf="yearNumber == this.year">
                        {{ pickIDToPick[pick]["Round"] }}-{{
                          pickIDToPick[pick]["Overall"]
                        }}</span
                      >
                      <span *ngIf="yearNumber != this.year">
                        {{ pickIDToPick[pick]["Round"] }}
                        <span *ngIf="pickIDToPick[pick]['PickLabel'].length > 6"
                          >&nbsp;-&nbsp;{{
                            pickIDToPick[pick]["PickLabel"]
                              .substring(6, 9)
                              .split(")")[0]
                          }}
                        </span></span
                      >
                    </div>
                    <div class="pickValue">
                      {{ pickIDToPick[pick]["Points"] }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tradeVariables">
      <div class="paramLabels">
        <div class="paramLabel">
          Total Value
        </div>
        <div class="paramLabel">
          Pick Differential
        </div>
        <div class="paramLabel">
          Total Picks
        </div>
      </div>
      <div class="params">
        <div class="paramTwo">
          <div class="paramInput totalValue">
            <span
              class="changeParamButton minus"
              (click)="changeParam('minTradeValueDif', -1)"
            >
              -
            </span>
            <span>
              <input
                type="text"
                id="minTradeValue"
                [(ngModel)]="minTradeValueDif"
                (input)="inputChange()"
                autocomplete="off"
                class="input"
              />
            </span>

            <span
              class="changeParamButton plus"
              (click)="changeParam('minTradeValueDif', 1)"
            >
              +
            </span>
          </div>
          <div class="inputSeparator">
            to
          </div>
          <div class="paramInput totalValue">
            <span
              class="changeParamButton minus"
              (click)="changeParam('maxTradeValueDif', -1)"
            >
              -
            </span>
            <span>
              <input
                type="text"
                id="maxTradeValue"
                [(ngModel)]="maxTradeValueDif"
                (input)="inputChange()"
                autocomplete="off"
                class="input"
              />
            </span>
            <span
              class="changeParamButton plus"
              (click)="changeParam('maxTradeValueDif', 1)"
            >
              +
            </span>
          </div>
        </div>
        <div class="paramTwo">
          <div class="paramInput pickDifferential">
            <span
              class="changeParamButton minus"
              (click)="changeParam('minTradePickDif', -1)"
            >
              -
            </span>
            <span>
              <input
                type="text"
                id="minTradePick"
                [(ngModel)]="minTradePickDif"
                (input)="inputChange()"
                autocomplete="off"
                class="input"
              />
            </span>
            <span
              class="changeParamButton plus"
              (click)="changeParam('minTradePickDif', 1)"
            >
              +
            </span>
          </div>
          <div class="inputSeparator">
            to
          </div>
          <div class="paramInput pickDifferential">
            <span
              class="changeParamButton minus"
              (click)="changeParam('maxTradePickDif', -1)"
            >
              -
            </span>
            <span>
              <input
                type="text"
                id="maxTradePick"
                [(ngModel)]="maxTradePickDif"
                (input)="inputChange()"
                autocomplete="off"
                class="input"
              />
            </span>
            <span
              class="changeParamButton plus"
              (click)="changeParam('maxTradePickDif', 1)"
            >
              +
            </span>
          </div>
        </div>
        <div class="paramOne">
          <div class="paramInput totalPicks">
            <span
              class="changeParamButton minus"
              (click)="changeParam('tradePicksQuantity', -1)"
            >
              -
            </span>
            <span>
              <input
                type="text"
                id="tradePicksQuantity"
                [(ngModel)]="tradePicksQuantity"
                (input)="inputChange()"
                autocomplete="off"
                class="input"
              />
            </span>
            <span
              class="changeParamButton plus"
              (click)="changeParam('tradePicksQuantity', 1)"
            >
              +
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trades">
    <div class="exactTradeBox">
      <div class="tradeOptionLabels">
        <div class="optionClubNames">
          {{ getCityName(raiders) }}
        </div>
        <div class="optionClubNames">
          {{ getCityName(filterService.teamPortalSelected) }}
        </div>
        <div class="numberTradeHeader">Value</div>
        <div class="numberTradeHeader">+/-</div>
        <div class="numberTradeHeader">#</div>
      </div>
      <div
        class="tradeOptionExact"
        (click)="tradeOptionClicked($event, {}, 1)"
        id="option"
      >
        <div
          id="option"
          class="raidersTradingExact"
          [ngStyle]="
            lineHeightFromPickNumber(teamToPickIDs[raiders['SailTeamID']])
          "
        >
          <span
            id="option"
            *ngFor="let pick of teamToPickIDs[raiders['SailTeamID']]"
          >
            <ng-container *ngIf="pickInvolved[pick] == 1">
              {{ pickIDToPick[pick]["PickLabel"] }}
              &nbsp;&nbsp;
            </ng-container>
          </span>
        </div>
        <div
          id="option"
          class="raidersReceivingExact"
          [ngStyle]="
            lineHeightFromPickNumber(
              teamToPickIDs[filterService.teamPortalActiveClubID]
            )
          "
        >
          <span
            id="option"
            *ngFor="
              let pick of teamToPickIDs[filterService.teamPortalActiveClubID]
            "
          >
            <ng-container *ngIf="pickInvolved[pick] == 1">
              {{ pickIDToPick[pick]["PickLabel"] }}

              &nbsp;&nbsp;
            </ng-container>
          </span>
        </div>
        <div id="option" class="numberTradeExact">{{ calcExactVal() }}</div>
        <div id="option" class="numberTradeExact">
          {{ calcExactPicksGained() }}
        </div>
        <div id="option" class="numberTradeExact">
          {{ calcExactPicksInvolved() }}
        </div>
      </div>
    </div>
    <div class="tradeOptionsDisplay">
      <div class="tradeHeaderSug">Options ({{ tradeOptions.length }})</div>
      <div class="tradeOptions">
        <div
          class="tradeOption"
          id="option"
          *ngFor="let trade of tradeOptions"
          (click)="tradeOptionClicked($event, trade, 0)"
        >
          <div id="option" class="raidersTrading">
            <ng-container
              id="option"
              *ngFor="let picked of trade[3]; let i = index"
            >
              <span
                *ngIf="
                  teamToPickIDs[raiders['SailTeamID']] &&
                  teamToPickIDs[raiders['SailTeamID']].indexOf(
                    pickOrderToPickID[i]
                  ) != -1 &&
                  picked == 1
                "
                style="display: block; float: left;"
              >
                {{ pickIDToPick[pickOrderToPickID[i]]["PickLabel"] }}

                &nbsp;
              </span>
            </ng-container>
          </div>
          <div id="option" class="raidersReceiving">
            <ng-container
              id="option"
              *ngFor="let picked of trade[3]; let i = index"
            >
              <span
                *ngIf="
                  teamToPickIDs[filterService.teamPortalActiveClubID] &&
                  teamToPickIDs[filterService.teamPortalActiveClubID].indexOf(
                    pickOrderToPickID[i]
                  ) != -1 &&
                  picked == 1
                "
                style="display: block; float: left;"
              >
                {{ pickIDToPick[pickOrderToPickID[i]]["PickLabel"] }}
                &nbsp;
              </span>
            </ng-container>
          </div>
          <div id="option" class="numberTrade">{{ trade[0] }}</div>
          <div id="option" class="numberTrade">{{ trade[1] }}</div>
          <div id="option" class="numberTrade">{{ trade[2] }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  style="background-color: var(--raiders-gray);width:100vw;height:100vh;position: absolute;top: 50px;left: 200px;"
  *ngIf="uploadingPicks"
>
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div id="sendingTradeBox" *ngIf="tradeToSend" class="tradeToSendBox fontDIN">
  <div class="tradeToSendTop" id="send">
    &nbsp;Confirm Trade Offer
    <span style="float: right;margin-right: 62px;">Offer</span>
  </div>
  <div class="tradeToSendBottom" id="send">
    <div class="bottomGrid" id="send">
      <div class="teamPicksSending" id="send">
        Raiders:
        <span
          style="margin-right:5px;"
          *ngFor="let pick of tradeSendingPicks['raiders']"
          id="send"
          >{{ pickIDToPick[pick]["PickLabel"] }}</span
        >
      </div>
      <div class="teamPicksSending" id="send">
        {{ filterService.teamPortalSelected["ClubNickName"] }}:
        <span
          style="margin-right:5px;"
          id="send"
          *ngFor="let pick of tradeSendingPicks['tradeTeam']"
          >{{ pickIDToPick[pick]["PickLabel"] }}</span
        >
      </div>
    </div>
    <div class="sendButtons">
      <div class="tradeToSendGoRaiders" id="send" (click)="sendTradeToDB(1)">
        <div class="imageContainer">
          <img id="" [src]="getActiveLogo(raiders)" class="tradeImageSend" />
        </div>
      </div>

      <div class="tradeToSendGoAway" id="send" (click)="sendTradeToDB(0)">
        <div class="imageContainer">
          <img
            id=""
            [src]="getActiveLogo(filterService.teamPortalSelected)"
            class="tradeImageSend"
          />
        </div>
      </div>
    </div>
    <div class="sendButtonsSuggestion">
      <div
        class="tradeToSendSuggestion"
        id="send"
        (click)="sendTradeToDBSuggestion(-3)"
      >
        High
      </div>

      <div
        class="tradeToSendSuggestion"
        id="send"
        (click)="sendTradeToDBSuggestion(-2)"
      >
        Mid
      </div>
      <div
        class="tradeToSendSuggestion"
        id="send"
        (click)="sendTradeToDBSuggestion(-1)"
      >
        Low
      </div>
    </div>
  </div>
</div>
